
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Личный кабинет</h2>

<h3>Лот "Международные мероприятия"</h3>
<a  class="btn btn-default">Добавить мероприятие</a>
<h3>Лот "Всеросийские мероприятия"</h3>
<a class="btn btn-default">Добавить мероприятие</a>
<h3>Лот "Межригеональный уровень"</h3>
<a class="btn btn-default">Добавить мероприятие</a>
<h3>Лот "Региональный уровень"</h3>
<a class="btn btn-default">Добавить мероприятие</a>
<h3>Лот "Внутривузовский уровень"</h3>
<a class="btn btn-default">Добавить мероприятие</a>
