@model IEnumerable<RSC.Controllers.Models.ProfileViewModels.ProfileViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>ProfileList</h2>


<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Название
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PrdsoId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => @item.Prdso.University.UniversityData.UniversityName)
                </td>
                <td>
                    @if (item.Prdso.Submitted)
                    {
                        <label style="color:lightslategrey">НА расмотрении</label>
                    }
                    else
                    {
                        <label style="color:lightcoral">НЕ отправленна</label>
                    }
                </td>
                <td>
                    @Html.ActionLink("Посмотреть", "Index", "Profile", new { id = item.PrdsoId })                    
                </td>
                <td>
                    <select>
                        <option>Потвердить</option>
                        <option>Отказать</option>
                    </select>
                </td>
                <td>
                    <button class="btn btn-sm">Submit</button>
                </td>
            </tr>
        }
    </tbody>
</table>

