@model IEnumerable<RSC.Controllers.Models.ProfileViewModels.ProfileViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>ProfileList</h2>


<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Название
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.PrdsoId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.University)
                </td>
                <td>
                    @Html.ActionLink("Посмотреть", "View", new { id = item.PrdsoId }) |
                    @Html.ActionLink("Удалить", "Delete", new { id = item.PrdsoId })
                </td>
            </tr>
        }
    </tbody>
</table>

