@using RSC.Data.DbModels
@model RSC.Controllers.Models.EventsViewModels.EventCreateViewModel

<div class="paddingMainblock"ы>
    <div class="col-md-12 costSections">
        <h2>Финансово-экономическое обоснование</h2>
        @foreach(CostSection costsection in Model.CostSections)
        {            
            <h3>
                @costsection.Name
            </h3>
            @foreach(var divisions in costsection.CostDivisions)
            {
                <div class="costsheet">
                    <h4>@divisions.Name</h4>
                    <div class="row CostsList"></div>
                    <button class="btn btn-sm btn-success addCosts" data-divisionsid="@divisions.Id">Добавить</button>               
                </div>
            }
        }
    </div>
</div>