<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RSC</title>
    <link rel="icon" href="../../../../favicon.ico">

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <!-- Custom styles for this template -->
        <link href="~/css/styles.css" rel="stylesheet">
        <link rel="stylesheet" href="~/font-awesome-4.7.0/css/font-awesome.css">
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        <!-- Custom styles for this template -->
        <link href="~/css/styles.css" rel="stylesheet">
        <link rel="stylesheet" href="~/font-awesome-4.7.0/css/font-awesome.min.css">
    </environment>
</head>
<body>

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                        aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/"><img src="~/img/logo.png" alt="Росстуденчество"></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown active">
                        <a href="/about/index" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            О НАС

                        </a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-submenu">
                                <a tabindex="-1" href="/about/rosstudenchestvo">Росстуденчество</a>
                                <ul class="dropdown-menu">
                                    <li><a tabindex="-1" href="#">Документы</a></li>
                                    <li><a href="#">Задачи</a></li>
                                    <li><a href="#">Миссия</a></li>
                                    <li><a tabindex="-1" href="#">Направления</a></li>
                                    <li><a href="#">Отделы</a></li>
                                    <li><a href="#">Программы</a></li>

                                    <li><a href="#">Цели</a></li>
                                </ul>
                            </li>
                            <li class="dropdown-submenu">
                                <a tabindex="-1" href="/about/ourteam">Наша команда</a>
                                <ul class="dropdown-menu">
                                    <li><a tabindex="-1" href="/about/otdeli">Отделы</a></li>
                                    <li><a href="/about/rukovodstvo">Руководство</a></li>
                                    <li><a href="/about/ekspertniysovet">Экспертный совет</a></li>
                                </ul>
                            </li>

                            <li class="dropdown-submenu">
                                <a tabindex="-1" href="#">Контакты</a>
                                <ul class="dropdown-menu">
                                    <li><a tabindex="-1" href="#">Second level</a></li>
                                    <li><a href="#">Second level</a></li>
                                    <li><a href="#">Second level</a></li>
                                    <li><a tabindex="-1" href="#">Second level</a></li>
                                    <li><a href="#">Second level</a></li>
                                    <li><a href="#">Second level</a></li>
                                </ul>
                            </li>
                        </ul>

                    </li>


                    <li>
                        <a href="/about/index" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            СТУДЕНТУ
                        </a>
                    </li>

                    

                    <li>
                        <a href="#contact">СОВЕТАМ</a>
                    </li>




                    <li>
                        <a href="/about/index" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            ПРДСО

                        </a>

                        <ul class="dropdown-menu">
                            <li class="dropdown-submenu">
                                <a tabindex="-1" href="#">О конкурсе</a>
                            </li>
                            <li class="dropdown-submenu">
                                <a tabindex="-1" href="#">Календарь ПРДСО</a>
                            </li>
                            <li class="dropdown-submenu">
                                <a tabindex="-1" href="#">Направления</a>
                            </li>
                            <li class="dropdown-submenu">
                                <a tabindex="-1" href="#">Лучшие мероприятия</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#contact">АБИТУРИЕНТУ</a>
                    </li>





                    <li>
                        <a href="/about/index" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            В УЧЕБЕ

                        </a>

                        <ul class="dropdown-menu">
                            <li class="dropdown-submenu">
                                <a tabindex="-1" href="#">Универсариум </a>
                            </li>
                            <li class="dropdown-submenu">
                                <a tabindex="-1" href="#">База научных работ</a>
                            </li>
                            <li class="dropdown-submenu">
                                <a tabindex="-1" href="#">Конструктор ССУ</a>
                            </li>
                            <li class="dropdown-submenu">
                                <a tabindex="-1" href="#">Школа лидера</a>
                            </li>
                            <li class="dropdown-submenu">
                                <a tabindex="-1" href="#">Методология</a>
                            </li>
                        </ul>


                    </li>
                    <li>
                        <form class="form-inline mt-2 mt-md-0"></form>
                    </li>




                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <input id="searchinput" name="searchinput" class="enjoy-css" type="text">
                    </li>
                    <li><i class="fa fa-search  fa-flip-horizontal lupa-icon" aria-hidden="true"></i></li>
                    <li>
                        <a href="/manage/index/" id="user-login-circle"><i class="fa fa-user-circle-o" aria-hidden="true"></a></i>
                    </li>
                    @*<li><a  id="login-word" href="/Account/Login">ВОЙТИ</a></li>*@
                    @await Html.PartialAsync("_LoginPartial")

                </ul>

            </div>
        </div>
    </nav>
    <div role="main" class="container main">
        @RenderBody()
    </div>
    <div class="container">
        <div class="footer">


            <div class="col-md-12 footer-logo">
                <a href="/">
                    <img src="img/logowhite.png" alt="Росстуденчество">
                </a>
                <p>Российский студенческий центр «Росстуденчество»</p>
                <hr class="footer-hr" />
            </div>



            <div class="footer-info">
                <div class="col-md-4">
                    <p>Горячая линия по вопросам социальной и правовой помощи обучающимся:</p>
                    <p><a href="tel:+7(800)555-23-90">+7 800 555 2390</a> </p>
                    <p>По другим вопросам:</p>
                    <p><a href="tel:+7(495)915-56-14">+7 495 915-56-14</a></p>
                    <p>
                        <a href="mailto:pravo@russtudcenter.ru">pravo@russtudcenter.ru</a>
                    </p>
                </div>
                <div class="col-md-4">
                    <p>Отдел ПРДСО:</p>
                    <p>
                        <a href="tel:+7(495)915-26-02">+7 495 915-26-02</a>
                    </p>
                    <p>
                        <a href="mailto:prdso@russtudcenter.ru">prdso@russtudcenter.ru</a>
                    </p>

                    <br>

                </div>
                <div class="col-md-4">
                    <div class="five-icons">
                        <i class="fa fa-vk soc-pad" aria-hidden="true"></i>
                        <i class="fa fa-instagram soc-pad" aria-hidden="true"></i>
                        <i class="fa fa-facebook soc-pad" aria-hidden="true"></i>
                        <i class="fa fa-twitter soc-pad" aria-hidden="true"></i>
                        <i class="fa fa-telegram soc-pad" aria-hidden="true"></i>
                    </div>
                </div>
            </div>

            <div class="social-icons col-md-12" style="text-align:center;">
                <p style="float:left;padding-top: 8px;">Соглашение о пользовании информационной системой</p>
                <p class="adress">109240, ул. Николоямская, д. 11, стр. 1, Москва</p>
            </div>
        </div>
    </div>
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/assets/js/vendor/popper.min.js"></script>
        <script src="~/dist/main.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/assets/js/vendor/popper.min.js"></script>
        <script src="~/dist/main.js"></script>
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.2.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
