<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RSC</title>
    <link rel="icon" href="../../../../favicon.ico">

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <!-- Custom styles for this template -->
        <link href="~/css/styles.css" rel="stylesheet">
        <link rel="stylesheet" href="~/font-awesome-4.7.0/css/font-awesome.css">
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        <!-- Custom styles for this template -->
        <link href="~/css/styles.css" rel="stylesheet">
        <link rel="stylesheet" href="~/font-awesome-4.7.0/css/font-awesome.min.css">
    </environment>
</head>
<body>
    <nav class="container navbar-default navbar-fixed-top">
            <a href="/"><img src="~/img/logo.png" alt="Росстуденчество"></a>            
            <ul class="nav-right-links">

                <li><span class="fa-stack fa-sm">
                <i class="fa fa-circle fa-stack-2x icon-background1"></i>
                <i class="fa fa-vk fa-stack-1x"></i>
                </span>
                </li>
                <li>
                    <span class="fa-stack fa-sm">
                        <i class="fa fa-circle fa-stack-2x icon-background1"></i>
                        <i class="fa fa-instagram fa-stack-1x"></i>
                    </span>
                </li>
                <li>
                    <span class="fa-stack fa-sm">
                        <i class="fa fa-circle fa-stack-2x icon-background1"></i>
                        <i class="fa fa-facebook-f fa-stack-1x"></i>
                    </span>
                </li>
                
                <li style="padding-right: 70px;">
                    <span class="fa-stack fa-sm">
                        <i class="fa fa-circle fa-stack-2x icon-background1"></i>
                        <i class="fa fa-telegram fa-stack-1x"></i>
                    </span>
                </li>
                <li>
                    <input id="searchinput" name="searchinput" class="enjoy-css" type="text">
                </li>
                <li style="padding-right: 50px;"><i class="fa fa-search  fa-flip-horizontal lupa-icon" aria-hidden="true"></i></li>
                
                @await Html.PartialAsync("_LoginPartial")
            </ul>
        </nav>


    <nav class="navbar container navbar-default navbar-fixed-top nav2">
        <div class="dropdown col-md-2 sec-nav">
            <button class="btn btn-nav dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                О НАС
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu container menu-all menu1" aria-labelledby="dropdownMenu1">
                <li class="sec-nav-li col-md-2"><a href="/about/rosstudenchestvo">РОССТУДЕНЧЕСТВО</a></li>
                <li class="sec-nav-li col-md-2"><a href="/about/ourteam">НАША КОМАНДА</a></li>
                <li class="sec-nav-li col-md-2"><a href="/about/contacts">КОНТАКТЫ</a></li>
                <li class="sec-nav-li col-md-2"><a href="#"></a></li>
                <li class="sec-nav-li col-md-2"><a href="#"></a></li>
                <li class="sec-nav-li col-md-2"><a href="#"></a></li>
            </ul>
        </div>
        <div class="dropdown col-md-2 sec-nav">
            <button class="btn btn-nav dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                СТУДЕНТУ
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu container menu-all menu2" aria-labelledby="dropdownMenu2">
                <li class="sec-nav-li  col-md-2"><a href="http://www.sberbank.ru/ru/person/credits/learn/learn_subsid">ОБРАЗОВАТЕЛЬНЫЙ КРЕДИТ</a></li>
                <li class="sec-nav-li col-md-2"><a href="#"></a></li>
                <li class="sec-nav-li col-md-2"><a href="#"></a></li>
                <li class="sec-nav-li col-md-2"><a href="#"></a></li>
                <li class="sec-nav-li col-md-2"><a href="#"></a></li>
                <li class="sec-nav-li col-md-2"><a href="#"></a></li>
            </ul>
        </div>
        <div class="dropdown col-md-2 sec-nav">
            <button class="btn btn-nav dropdown-toggle" type="button" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                СОВЕТАМ
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu container menu-all menu3" aria-labelledby="dropdownMenu3">
                <li class="col-md-2 sec-nav-li"><a href="#"></a></li>
                <li class="col-md-2 sec-nav-li"><a href="#"></a></li>
                <li class="col-md-2 sec-nav-li"><a href="#"></a></li>
                <li class="col-md-2 sec-nav-li"><a href="#"></a></li>
                <li class="col-md-2 sec-nav-li"><a href="#"></a></li>
                <li class="col-md-2 sec-nav-li"><a href="#"></a></li>
            </ul>
        </div>
        <div class="dropdown col-md-2 sec-nav">
            <button class="btn btn-nav dropdown-toggle" type="button" id="dropdownMenu4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                ПРДСО
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu container menu-all menu4" aria-labelledby="dropdownMenu4">
                <li class="col-md-2 sec-nav-li"><a href="/about/aboutprdso">О КОНКУРСЕ</a></li>
                <li class="col-md-2 sec-nav-li"><a href="#">НАПРАВЛЕНИЯ ПРДСО</a></li>
                <li class="col-md-2 sec-nav-li"><a href="#"></a></li>
                <li class="col-md-2 sec-nav-li"><a href="#"></a></li>
                <li class="col-md-2 sec-nav-li"><a href="#"></a></li>
                <li class="col-md-2 sec-nav-li"><a href="#"></a></li>
            </ul>
        </div>
        <div class="dropdown col-md-2 sec-nav">
            <button class="btn btn-nav dropdown-toggle" type="button" id="dropdownMenu5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                АБИТУРИЕНТУ
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu container menu-all menu5" aria-labelledby="dropdownMenu5">
                <li class="col-md-2 sec-nav-li"><a href="http://abitur.cbias.ru/">ПОСТУПАЙ ПРАВИЛЬНО</a></li>
                <li class="col-md-2 sec-nav-li"><a href="#"></a></li>
                <li class="col-md-2 sec-nav-li"><a href="#"></a></li>
                <li class="col-md-2 sec-nav-li"><a href="#"></a></li>
                <li class="col-md-2 sec-nav-li"><a href="#"></a></li>
                <li class="col-md-2 sec-nav-li"><a href="#"></a></li>
            </ul>
        </div>
        <div class="dropdown col-md-2 sec-nav">
            <button class="btn btn-nav dropdown-toggle" type="button" id="dropdownMenu6" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                В УЧЕБЕ
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu container menu-all menu6" aria-labelledby="dropdownMenu6">
                <li class="col-md-2 sec-nav-li"><a href="#"></a></li>
                <li class="col-md-2 sec-nav-li"><a href="#"></a></li>
                <li class="col-md-2 sec-nav-li"><a href="#"></a></li>
                <li class="col-md-2 sec-nav-li"><a href="#"></a></li>
                <li class="col-md-2 sec-nav-li"><a href="#"></a></li>
                <li class="col-md-2 sec-nav-li"><a href="#"></a></li>
            </ul>
        </div>


        </nav>


        @*<nav class="navbar container navbar-default navbar-fixed-top nav2">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav col-md-12">
                    <li class="col-md-2 sec-nav-li"><a href="/about/index">О НАС</a></li>
                    <li class="col-md-2 sec-nav-li"><a href="#">СТУДЕНТУ</a></li>
                    <li class="col-md-2 sec-nav-li"><a href="#">СОВЕТАМ</a></li>
                    <li class="col-md-2 sec-nav-li"><a href="#">ПРДСО</a></li>
                    <li class="col-md-2 sec-nav-li"><a href="#">АБИТУРИЕНТУ</a></li>
                    <li class="col-md-2 sec-nav-li"><a href="#">В УЧЕБЕ</a></li>
                </ul>
            </div>
        </nav>*@

        <div role="main" class="container main">
            @RenderBody()
        </div>
        <div class="container footer-main-block">
            <div class="footer col-md-12">

                <div class="col-md-12 footer-logo">
                    <p>Официальный сайт «Росстуденчество»</p>
                    <a href="" class="btn-transparent">ЗАДАТЬ ВОПРОС</a>
                </div>

                <div class="footer-info">
                    <div class="col-md-2 footer-info-item">
                        <p>ПРИЕМНАЯ:</p>
                        <br>
                        <p><a href="tel:+7(495)915-28-10">+7 495 915-28-10</a> </p>

                        <p><a href="tel:+7(495)915-56-14">+7 495 915-56-14</a></p>
                        <p>
                            <a href="mailto:post@russtudcenter.ru">post@russtudcenter.ru</a>
                        </p>
                    </div>
                    <div class="col-md-3 footer-info-item">
                        <p>Горячая линия по вопросам социальной и</p>
                        <p>правовой помощи обучающимся</p>

                        <p>
                            <a href="tel:+7(800)555-23-90">+7 800 555-23-90</a>
                        </p>


                    </div>
                    <div class="col-md-2 footer-info-item">
                        <p>ОТДЕЛ ПРДСО:</p>
                        <br>
                        <p>
                            <a href="tel:+7(495)915-26-02">+7 495 915-26-02</a>
                        </p>
                        <p>
                            <a href="mailto:prdso@russtudcenter.ru">prdso@russtudcenter.ru</a>
                        </p>

                    </div>
                    <div class="col-md-2 footer-info-item">
                        <p>РЕСУРСНЫЙ ЦЕНТР:</p>
                        <br>
                        <p>
                            <a href="tel:+7(495)915-03-97">+7 495 915-03-97</a>
                        </p>
                        <p>
                            <a href="mailto:resurs@russtudcenter.ru">resurs@russtudcenter.ru</a>
                        </p>

                    </div>
                    <div class="col-md-3 footer-info-right">
                        <ul style="list-style-type: none;">
                            <li><a class="rf-links" href="http://kremlin.ru/">Сайт президента РФ</a></li>
                            <li>
                                <a class="rf-links" href="http://government.ru/">Сайт правительства РФ</a>
                            </li>
                            <li><a class="rf-links" href="http://минобрнауки.рф/">Сайт министерства образования РФ</a></li>

                        </ul>

                        <div class="five-icons">
                            <a href="http://vk.com"><i class="fa fa-vk soc-pad" aria-hidden="true"></i></a>
                            <a href="http://instagram.com"><i class="fa fa-instagram soc-pad" aria-hidden="true"></i></a>
                            <a href="http://facebook.com"><i class="fa fa-facebook soc-pad" aria-hidden="true"></i></a>
                            <a href="http://twitter.com"><i class="fa fa-twitter soc-pad" aria-hidden="true"></i></a>
                            <a href="http://telegram.org"><i class="fa fa-telegram soc-pad" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>


            </div>

            <div class="social-icons col-md-12" style="text-align:center;">
                <div class="social-icons-inner">
                    <a style="float:left;padding-top: 8px; color:lightgray; text-decoration: underline;" href="#">Соглашение о пользовании сайтом</a>

                    <p class="adress">109240, ул. Николоямская, д. 11, стр. 1, Москва</p>
                </div>
            </div>
        </div>
        <environment include="Development">
            <script src="~/lib/jquery/dist/jquery.js"></script>
            <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
            <script src="~/js/site.js" asp-append-version="true"></script>
            <script src="~/assets/js/vendor/popper.min.js"></script>
            <script src="~/dist/main.js"></script>
        </environment>
        <environment exclude="Development">
            <script src="~/assets/js/vendor/popper.min.js"></script>
            <script src="~/dist/main.js"></script>
            <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.2.1.min.js"
                    asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                    asp-fallback-test="window.jQuery"
                    crossorigin="anonymous"
                    integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
            </script>
            <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                    asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                    asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                    crossorigin="anonymous"
                    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
            </script>
            <script src="~/js/site.min.js" asp-append-version="true"></script>
        </environment>

        @RenderSection("Scripts", required: false)
</body>
</html>
