@model RSC.Models.NewsViewModels.CreateNewsViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<!-- Include the plugin's CSS and JS: -->
<link rel="stylesheet" href="~/bootstrap-multiselect/css/bootstrap-multiselect.css" type="text/css" />
<link href="~/css/NewsHomePageImage.css" type="text/css" rel="stylesheet" />
<link rel="stylesheet" href="~/dist/css/croppie.css" type="text/css" />

<h2>Создание</h2>

<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SelectedRubrics" class="control-label col-md-12" style="padding: 0"></label>
                @Html.ListBoxFor(item => Model.SelectedRubrics, Model.NewsRubrics, new { @class = "chzn-select form-control", multiple = "multiple" })
                <span asp-validation-for="SelectedRubrics" class="text-danger"></span>
            </div>

            <script src="https://cdn.quilljs.com/1.3.3/quill.js"></script>
            <div style="height: 300px;" id="editor"></div>
            <link href="https://cdn.quilljs.com/1.3.3/quill.snow.css" rel="stylesheet">
            @Html.HiddenFor(item => Model.Text)

            <div class="form-group">
                <label asp-for="MainImage" class="control-label col-md-12" style="padding: 0"></label>
                <img id="blah" src="" style="max-width: 250px;" alt="Ваше изображение" />
                <input type="file" asp-for="MainImage" onchange="readURL(this);"/>
                <span asp-validation-for="MainImage" class="text-danger"></span>
            </div>

            @Html.HiddenFor(item => Model.HomePageImage)
            @Html.Partial("PartialViewHomePageImage")

            <div class="form-group">
                <input type="submit" value="Сохранить" onclick="SaveText()" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    @if (User.IsInRole("admin"))
    {
        <a asp-action="Index">Вернуться к списку</a> <br />
    }
    <a asp-action="NewsBoard">Вернуться к новостой стене</a>
</div>

<!-- Initialize Quill editor -->

<script src="https://code.jquery.com/jquery-1.10.1.min.js"></script>
<script type="text/javascript" src="~/bootstrap-multiselect/js/bootstrap-multiselect.js"></script>
<script src="~/dist/js/croppie.js"></script>
<script>
    $('#SelectedRubrics').multiselect();
    var quill = new Quill('#editor', {
        theme: 'snow',
        size: 'auto'
    });
    function SaveText(parameters) {
        document.getElementById('Text').value = quill.container.firstChild.innerHTML;
    }

    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#blah')
                    .attr('src', e.target.result);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }

    $uploadCrop = $('#upload-demo').croppie({
        viewport: { width: 900, height: 500 },
        boundary: { width: 800, height: 400 },
        enableResize: false,
        enableOrientation: true
    });
    
    $('#upload-file').on('change', function () { readFile(this); });
    function readFile(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('.upload-demo').addClass('ready');
                $uploadCrop.croppie('bind', {
                    url: e.target.result
                }).then(function () {
                    console.log('jQuery bind complete');
                });

            }

            reader.readAsDataURL(input.files[0]);
            $('#upload-demo').removeClass('border-error').addClass('border-warning').change();
        }
        else {
            swal("Sorry - you're browser doesn't support the FileReader API");
        }
    }

    $('#upload-result').on('click', function (ev) {
        $uploadCrop.croppie('result', {
            type: 'canvas',
            size: 'viewport'
        }).then(function (resp) {
            $('#HomePageImage').val(resp);
            $('#upload-demo').removeClass('border-yellow').addClass('border-success').change();
        });
        return false;
    });

</script>

