<div id="upload-demo" class="border-error">
</div>
<input id="upload-file" value="Choose a file" accept="image/*" type="file">
<button class="btn btn-default" id="upload-result">Обрезать картинку</button>
