
@{
    ViewData["Title"] = "Index";
}
<style>
    .prdso-main {
        padding-left: 0px;
        padding-right: 0px;
    }



    .prdso-header {
        height: 100px;
        background-color: lightcoral;
    }

        .prdso-header .prdso-username {
            float: right;
        }


    .prdso-calendar {
        height: 300px;
        background-color: lightcyan;
    }

    .prdso-dashboard {
        margin-top: 50px;
        margin-bottom: 50px;
        padding-left: 0px;
        padding-right: 0px;
        height: 900px;
    }


    .prdso-dashboard-left {
        padding: 0px;
        height: 900px;
        background-color: white;
    }

    .prdso-dashboard-left-content{
        padding-right: 15px;
        padding-left: 0px;
    }
    
    
    .prdso-dashboard-left-menu {
        padding-left: 0px;
        padding-right: 0px;
        height: 300px;
        background-color: lightblue;
    }
        .prdso-dashboard-left-menu h4 {
            margin-top: 0px;
            margin-bottom: 0px;
            height: 50px;
            padding-top: 15px;
            padding-left: 15px;
            color: white;
            background-color: blue;
        }

        .prdso-dashboard-left-menu h5 {
            margin-top: 0px;
            margin-bottom: 0px;
            height: 50px;
            padding-top: 15px;
            padding-left: 15px;
            color: black;
            background-color: white;
            border: 1px solid lightgray;
            border-top: none;
        }

        .prdso-dashboard-left-application {
        padding-left: 0px;
        padding-right: 0px;
        margin-top: 50px;
        height: 550px;
        background-color: lightblue;
    }
    
    
    .prdso-dashboard-main {
        padding-right: 0px;
        height: 900px;
        background-color: white;
    }

    .prdso-dashboard-main-content {
        background-color: lightgray;
        padding-top: 20px;
        padding-left: 0px;
        padding-right: 0px;
        height: 900px;
    }

</style>




<div class="col-md-12 prdso-main">
    <div class="col-md-12 prdso-header">
        <div class="col-md-6">
            <h2>ПРДСО</h2>
            <h4>Московский Авиационный Институт</h4>
        </div>
        <div class="col-md-6">
            <h4 class="prdso-username">Иванов Петр Сергеевич</h4>
        </div>



    </div>
    <div class="col-md-12 prdso-calendar">

    </div>
    <div class="col-md-12 prdso-dashboard">
        <div class="col-md-4 prdso-dashboard-left">
            <div class="col-md-12 prdso-dashboard-left-content">
                <div class="prdso-dashboard-left-menu">
                    
                    <h4>Меню пользователя</h4>
                    <h5>Положение о конкурсе</h5>
                    <h5>Профиль ООВО</h5>
                    <h5>Мероприятия</h5>
                    <h5>Печать заявки</h5>
                    <h5>Обратная связь</h5>

                    <ul>
                        <li>Меню пользователя</li>
                        <li>Положение о конкурсе</li>
                        <li>Профиль ООВО</li>
                        <li>Мероприятия</li>
                        <li>Печать заявки</li>
                        <li>Обратная связь</li>
                    </ul>

                </div>


                <div class="prdso-dashboard-left-application">


                </div>


            </div>

        </div>
        <div class="col-md-8 prdso-dashboard-main">
            <div class="col-md-12 prdso-dashboard-main-content">

            </div>

        </div>




    </div>






</div>

