
@{
    ViewData["Title"] = "Index";
}
<style>
    .prdso-main {
        padding-left: 0px;
        padding-right: 0px;
    }



    .prdso-header {
        min-height: 100px;
        background-color: lightcoral;
        background: -webkit-linear-gradient(left, rgb(203,104,49), rgb(194,33,39));
        background: -o-linear-gradient(right, rgb(203,104,49), rgb(194,33,39));
        background: -moz-linear-gradient(right, rgb(203,104,49), rgb(194,33,39));
        background: linear-gradient(to right, rgb(203,104,49), rgb(194,33,39));
    }

        .prdso-header .prdso-username {
            float: right;
        }


    .prdso-calendar {
        min-height: 300px;
        background: lightblue;
    }

    .prdso-dashboard {
        margin-top: 50px;
        margin-bottom: 50px;
        padding-left: 0px;
        padding-right: 0px;
        min-height: 900px;
    }


    .prdso-dashboard-left {
        padding: 0px;
        min-height: 900px;
        background-color: white;
    }

    .prdso-dashboard-left-content {
        padding-right: 15px;
        padding-left: 0px;
    }


    .prdso-dashboard-left-menu {
        padding-left: 0px;
        padding-right: 0px;
        min-height: 300px;
        background-color: lightblue;
    }

        .prdso-dashboard-left-menu h4 {
            margin-top: 0px;
            margin-bottom: 0px;
            height: 50px;
            padding-top: 15px;
            padding-left: 15px;
            color: white;
            background: lightblue;
            background: -webkit-linear-gradient(left, rgb(97,162,194), rgb(77,121,170)); 
            background: -o-linear-gradient(right, rgb(97,162,194), rgb(77,121,170)); 
            background: -moz-linear-gradient(right, rgb(97,162,194), rgb(77,121,170)); 
            background: linear-gradient(to right, rgb(97,162,194), rgb(77,121,170));
        }

        .prdso-dashboard-left-menu ul {
            padding: 0px;
            list-style-type: none;
        }

        .prdso-dashboard-left-menu ul a{
            color: dimgrey;
            font-weight: 600;
        }

            .prdso-dashboard-left-menu ul a:hover {
                color: #337ab7;
                text-decoration: none;
            }

        .prdso-dashboard-left-menu li {
            margin-top: 0px;
            margin-bottom: 0px;
            height: 50px;
            padding-top: 15px;
            padding-left: 15px;
            color: black;
            background-color: white;
            border: 1px solid lightgray;
            border-top: none;
        }

    .prdso-dashboard-left-application {
        padding-left: 0px;
        padding-right: 0px;
        margin-top: 50px;
        min-height: 550px;
        background-color: lightblue;
    }


        .prdso-dashboard-left-application h4 {
            margin-top: 0px;
            margin-bottom: 0px;
            height: 50px;
            padding-top: 15px;
            padding-left: 15px;
            color: white;
            background: lightblue;
            background: -webkit-linear-gradient(left, rgb(97,162,194), rgb(77,121,170));
            background: -o-linear-gradient(right, rgb(97,162,194), rgb(77,121,170));
            background: -moz-linear-gradient(right, rgb(97,162,194), rgb(77,121,170));
            background: linear-gradient(to right, rgb(97,162,194), rgb(77,121,170));
        }


        .prdso-dashboard-left-application ul {
            padding: 0px;
            list-style-type: none;
        }

        .prdso-dashboard-left-application ul a {
            color: dimgrey;
            font-weight: 600;
        }

            .prdso-dashboard-left-application ul a:hover {
                color: #337ab7;
                text-decoration: none;
            }


        .prdso-dashboard-left-application li {
            margin-top: 0px;
            margin-bottom: 0px;
            height: 50px;
            padding-top: 15px;
            padding-left: 15px;
            color: black;
            background-color: white;
            border: 1px solid lightgray;
            border-top: none;
        }
    
    
    
    
    .prdso-dashboard-main {
        padding-right: 0px;
        height: 900px;
        background-color: white;
    }

    .prdso-dashboard-main-content {
        background-color: rgb(247,247,247);
        padding-left: 25px;
        padding-right: 25px;
        min-height: 900px;
    }
    .prdso-dashboard-main-content h2{
    margin-top: 50px;
    text-align:center;
    }
    .prdso-dashboard-main-content .btn-red{
        padding-left: 25px;
        padding-right: 25px;
        font-weight: 600;
    }

    .lot {
        margin-top: 30px;
        border: 1px solid lightgrey;
        min-height: 125px;
    }

    .accept-prdso {
        margin-top: 30px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .accept-prdso-inner-one {
       
        padding-left: 0px;
        padding-right: 0px;
    }

    .accept-prdso-inner-two {
        margin-top: 20px;
        padding-left: 0px;
        padding-right: 0px;
    }

</style>




<div class="col-md-12 prdso-main">
    <div class="col-md-12 prdso-header">
        <div class="col-md-6">
            <h2>ПРДСО</h2>
            <h4>Московский Авиационный Институт</h4>
        </div>
        <div class="col-md-6">
            <h4 class="prdso-username">Иванов Петр Сергеевич</h4>
        </div>



    </div>
    <div class="col-md-12 prdso-calendar">

    </div>
    <div class="col-md-12 prdso-dashboard">
        <div class="col-md-4 prdso-dashboard-left">
            <div class="col-md-12 prdso-dashboard-left-content">
                <div class="prdso-dashboard-left-menu">
                    <h4>Меню пользователя</h4>
                    <ul>
                        <li><a href="#">Положение о конкурсе</a></li>
                        <li><a href="#">Профиль ООВО</a></li>
                        <li><a href="#">Мероприятия</a></li>
                        <li><a href="#">Печать заявки</a></li>
                        <li><a href="#">Обратная связь</a></li>
                    </ul>

                </div>


                <div class="prdso-dashboard-left-application">
                    <h4>Заявка ПСО-2018-43</h4>
                    <ul>
                        <li><a href="#">Статус заявки</a></li>
                        <li><a href="#">Количество мероприятий</a></li>
                        <li><a href="#">Объем субсидий</a></li>
                        <li><a href="#">Объем софинансирования</a></li>
                        <li><a href="#">Объем привлеченных средств</a></li>
                        <li><a href="#">По лотам</a></li>
                        <li><a href="#">Всероссийские мероприятия</a></li>
                        <li><a href="#">Межрегиональные(межвузовские) мероприятия</a></li>
                        <li><a href="#">Региональные мероприятия</a></li>
                        <li><a href="#">Международные мероприятия</a></li>
                    </ul>

                </div>


            </div>

        </div>
        <div class="col-md-8 prdso-dashboard-main">
            <div class="col-md-12 prdso-dashboard-main-content">
                <div class="col-md-12" style="height:100px;">
                    <h2>Мероприятия</h2>

                </div>

                <div class="col-md-12" style="margin-top: 25px; padding-left:0px; padding-right:0px;">
                    <a href="#" class="btn-red">+ Добавить мероприятие</a>

                </div>

                <div class="col-md-12 lot">
                    <h5>Лот <<Всероссийские мероприятия>></h5>
                    
                </div>
                <div class="col-md-12 lot">
                    <h5>Лот <<Межрегиональные (межвузовские) мероприятия>></h5>

                </div>

                <div class="col-md-12 lot">
                    <h5>Лот <<Региональные мероприятия>></h5>

                </div>

                <div class="col-md-12 lot">
                    <h5>Лот <<Международные мероприятия>></h5>

                </div>


                <div class="col-md-12 accept-prdso">
                    <div class="col-md-12 accept-prdso-inner-one"><a href="#">С положением о конкурсе ПРДСО ознакомлен</a></div>
                    <div class="col-md-12 accept-prdso-inner-two"><a href="#" class="btn-blue">Отправить заявку</a></div>
                
                
                
                
                
                </div>
                
                



            </div>

        </div>




    </div>






</div>

