@{
    ViewData["Title"] = "Вы успешно вышли из системы";
}


<div class="container">
    <h2>@ViewData["Title"]</h2>
   <a href="/">Перейти на главную</a>
    <br />
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>


</div>