@model RSC.Models.HomeViewModels.HomeIndexViewModel
<div class="slider">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <div style="height:670px;">
                    <img src="img/Russia.png" alt="">
                </div>
                <div class="carousel-caption">
                </div>
            </div>
            <div class="item">
                <div style="height:670px;">
                    <img src="img/Russia.png" alt="">
                </div>
                <div class="carousel-caption">
                </div>
            </div>
            <div class="item">
                <div style="height:670px;">
                    <img src="img/Russia.png" alt="">
                </div>
                <div class="carousel-caption">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="calendar">
    <div class="col-md-12">
        <h2>Календарь</h2>
        <h3>Единый календарь</h3>
        <div class="tags">
            <img src="img/tags.png" alt="">
        </div>
        <div class="calendar-buttons">
            <a href="" class="btn-transparent">НАЙДИ СВОЕ</a>
        </div>
    </div>
</div>

<div class="news-block">
    <div class="col-md-6 news-banner">
        <h1>Новости</h1>
        <p>
            Здесь будет какая-то информация о том, что это за
            «новости» в целом, что здесь можно найти и что узнать,
            но кратко, буквально одно-два предложения.
        </p>
        <div class="news-buttons">
            <a href="@Url.Action("TakeLastSix","News")" class="btn-transparent">ПОСМОТРЕТЬ ВСЕ</a>
        </div>
    </div>
    @foreach (var item in Model.News)
    {
        <div class="col-md-3 one-news-block" style="background-image: url(@Url.Content(item.MainImagePath))">
            <h3>@item.Title</h3>
            <br>
            @*<a href="">Читать далее</a>*@
        </div>
    }
</div>

<div class="studstarter">
    <div class="col-md-12">
        <h2>Студстартер</h2>
        <h3>Студстартер</h3>
        <div class="rounds col-md-12">
            <div class="col-md-4">
                <img src="img/round1.png" alt="">
            </div>
            <div class="col-md-4">
                <img src="img/round2.png" alt="">
            </div>
            <div class="col-md-4">
                <img src="img/round3.png" alt="">
            </div>
            <div class="studstarter-buttons">
                <a href="" class="btn-transparent-red">ПРЕДЛОЖИТЬ РЕСУРС</a>
            </div>
        </div>
    </div>
</div>

<div class="prdso">
    <div class="col-md-6 prdso-banner">
        <h1>Конкурс ПРДСО</h1>
        <p>
            Программа повышения эффективности реализации
            Конкурса программ развития деятельности
            студенческих объединений и внеучебной деятельности
            образовательных организаций высшего образования.
        </p>
        <div class="news-buttons">
            <a href="" class="btn-transparent">ПОДРОБНЕЕ</a>
        </div>
    </div>
    <div class="col-md-3 one-prdso-block">
        <h3>Наука и инновации</h3>
    </div>
    <div class="col-md-3 one-prdso-block">
        <h3>Спорт и ЗОЖ</h3>
    </div>
    <div class="col-md-3 one-prdso-block">
        <h3>Культура и творчество</h3>
    </div>
    <div class="col-md-3 one-prdso-block">
        <h3>
            Профессиональные
            компетенции
        </h3>
    </div>    
    <div class="col-md-3 one-prdso-block">
        <h3>Наука и инновации</h3>
    </div>
    <div class="col-md-3 one-prdso-block">
        <h3>Загаловок ПРДСО</h3>
    </div>
</div>