
@{
    ViewData["Title"] = "IndexCRS";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .blockcontainer {
        display: flex;
        flex-direction: column;
        Justify-content: flex-start;
        align-items: stretch
    }
    
    .header {
        background-color: blue;
        height: 300px;
    }

    .calendar {
        background-color: red;
        height: 150px;
    }

    .projects {
        background-color: yellow;
        height: 300px;
    }

    .challenge {
        background-color: grey;
        height: 300px;
    }

    .social {
        background-color: green;
        height: 300px;
    }

    .news {
        background-color: orange;
        height: 200px;
    }
    .calendar:after,
    .calendar:before {
        bottom: 100%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }

    .calendar {
        position: relative;
        background: red;
       
        height: 150px;
        /*-webkit-filter: drop-shadow(0 1px 10px rgba(113,158,206,0.8));
        -moz-box-shadow: 0 1px 10px rgba(113,158,206,0.8);
            filter: drop-shadow(0 1px 10px rgba(113,158,206,0.8));
        */
    }
        .calendar:after {
            border-color: rgba(255, 255, 255, 0);
            border-bottom-color: red;
            border-width: 19px;
            left: 50%;
            margin-left: -19px;
        }

        
    
</style>

<div class="blockcontainer">
    
    @await Html.PartialAsync("HomeCarousel")
    <div class="calendar">
        
    </div>
    <div class="projects">
        
    </div>
    <div class="challenge">

    </div>
    <div class="social">

    </div>
    <div class="news">
        
    </div>
</div>
