@model RSC.Data.DbModels.CoMember

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<h4>CoMember</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @Html.HiddenFor(modelItem => Model.Id)
            @Html.HiddenFor(modelItem => Model.StudentsCouncilId)
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Surname" class="control-label"></label>
                <input asp-for="Surname" class="form-control" />
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MidleName" class="control-label"></label>
                <input asp-for="MidleName" class="form-control" />
                <span asp-validation-for="MidleName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JobPhoneNumber" class="control-label"></label>
                <input asp-for="JobPhoneNumber" class="form-control" />
                <span asp-validation-for="JobPhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MobilePhoneNumber" class="control-label"></label>
                <input asp-for="MobilePhoneNumber" class="form-control" />
                <span asp-validation-for="MobilePhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Сохранить" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Вернуться к списку</a>
</div>

