
@{
    ViewData["Title"] = "О конкурсе ПРДСО";
}

<div class="col-md-2"></div>

<div class="col-md-9">
    <h3 style="color: #23527c;">О конкурсе ПРДСО</h3>
    <p>
        Конкурсный отбор программ развития деятельности студенческих объединений (ПРДСО)<br />

        Для обеспечения эффективной деятельности студенческих объединений образовательных организаций высшего образования за счет средств федерального бюджета путем поддержки программ развития их деятельности Министерством образования и науки Российской Федерации с 2012 года проводится конкурсный отбор программ развития деятельности студенческих объединений образовательных организаций высшего образования.<br />
        За этот период победителями отбора стали более 300 образовательных организаций высшего образования. В течение 4 лет проведения Конкура победителями, получившими на реализацию своих программ субсидии в общем объеме более 5 млрд. руб., было организовано проведение нескольких тысяч мероприятий, направленных, в первую очередь, на развитие деятельности студенческих объединений.<br />
        Обеспечение проведения конкурсного отбора осуществляется Департаментом государственной политики в сфере воспитания детей и молодежи Министерства образования и науки Российской Федерации.


    </p>
</div>
@section Scripts{
    <script>
        $("#prdsoMenu").addClass("open");
        $("#dropdownMenu4").addClass("activeHomeLink")
        $("#aboutprdso").addClass("activeHomeLink");
    </script>
}


