
@{
    ViewData["Title"] = "Контакты";
}

<div class="col-md-3"></div>

<div class="col-md-9">
    <h3 style="color: #23527c;">Контакты</h3>
    <p>
        Почтовый адрес: ул.Николоямская, д.11, стр.1, Москва, 109240 (станция метро Таганская, Кольцевая линия)<br /><br />
        Телефоны горячей линии:<br />
        +7 800 555 2390 Горячая линия по вопросам социальной и правовой помощи студентам<br />
        E-mail: pravo@russtudcenter.ru<br /><br />
        Отдел ПРДСО:<br />
        Телефон: +7(495)915-26-02<br />
        E-mail:  prdso@russtudcenter.ru<br /><br />
        По другим вопросам:<br />
        +7(495)915-28-10, +7(495)915-56-14<br />
        Приемная: post@russtudcenter.ru<br />

    </p>

</div>
@section Scripts{
    <script>
        $("#rosstudMenu").addClass("open");
        $("#dropdownMenu1").addClass("activeHomeLink");
        $("#contacts").addClass("activeHomeLink");
    </script>
}