
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h1>О нас</h1>

<p>
    Почтовый адрес: ул.Николоямская, д.11, стр.1, Москва, 109240 (станция метро Таганская, Кольцевая линия)

    Телефоны горячей линии:
    +7 800 555 2390 Горячая линия по вопросам социальной и правовой помощи студентам
    E-mail: pravo@russtudcenter.ru
    Отдел ПРДСО:
    Телефон: +7(495)915-26-02
    E-mail:  prdso@russtudcenter.ru
    По другим вопросам:
    +7(495)915-28-10, +7(495)915-56-14
    Приемная: post@russtudcenter.ru

</p>


