@{
    ViewData["Title"] = "Направления ПРДСО";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-md-12" style="padding-left:0px; padding-right:0px;">
    <h3 class="text-headings">Паспорта направлений</h3>
    <h4 class="subheadings">Самоуправление</h4>
    <p>
        Паспорт направления
        «Студенческое самоуправление, социальная активность и проектирование»

         </p>
        <ul style="list-style-type: none;">
        <li>1.0Общая информация:</li>
        <li>1.0 Студенческое самоуправление, социальная активность и проектирование - проекты, направленные на развитие организационной деятельности объединенных советов обучающихся, развитие систем обучения студенческих активов, расширение сети студенческих объединений, развитие системы выборов в объединенные советы обучающихся, волонтерских и добровольческих студенческих объединений, повышение компетенций студенческих объединений в социальном проектировании и реализации благотворительных и социальных проектов, улучшение работы с различными организациями и учреждениями, развитие взаимодействия студенческих объединений с социально-ориентированными некоммерческими организациями, выявление и поддержку инновационных подходов к воспитательной работе и организации деятельности органов студенческого самоуправления (студенческих объединений).</li>


        <li>
        1.1Проекты реализуемые в рамках направления.
        </li>
        <li>1.1.1. Создание на базе Российского студенческого центра постоянно действующей образовательной площадки, в том числе онлайн,  для руководителей и активистов органов студенческого самоуправления, представителей волонтерских и добровольческих отрядов.
        </li><li>1.1.2. Создание студенческого коворкинг центра.
        </li><li>1.1.3. Рабочая группа по совершенствованию нормативно-правовой базы регулирующей деятельность органов студенческого самоуправления.
        </li><li>1.1.4. Внедрение унифицированных подходов к формированию и деятельности органов студенческого самоуправления.
        </li><li>1.1.4. Рейтинг советов обучающихся.
        </li><li>1.1.5. Кадровый резерв – рейтинг председателей советов обучающихся.
        </li><li>1.1.6.Создание  интернет платформы горизонтального взаимодействия (Студенческая краудсорсинговая платформа «СтудСтартер»).
        </li><li>1.1.7.Опорные центры - создание опорных центров студенческого самоуправления в Федеральных округах.
        </li><li>1.1.8.Студенческие выборы – внедрение системы выборов в процесс формирования советов обучающихся.
        </li><li>1.1.9.Информационно – методическое обеспечение деятельности органов студенческого самоуправления.
        </li><li>1.1.10. Расширение сети волонтерских и добровольческих отрядов в образовательных организациях высшего образования.
        </li><li>1.1.11. Поддержка программ в области студенческого самоуправления реализуемых общественными организациями.
        </li><li>1.2 Целевая аудитория.
        </li><li>1.2.1.Социально активные студенты и представители органов студенческого самоуправления.
        </li><li>1.2.2. Администрации образовательных организаций.
        </li><li>1.2.2. Общественные организации.
        </li><li>1.3Партнеры и ключевые сообщества.
        </li><li>1.3.1. ООО «Российский союз молодежи»
        </li><li>1.3.2.ООМД «Ассоциация студентов и студенческих объединений России» (АСО России)
        </li><li>1.3.3. Агентство социальных коммуникаций «Кампус»
        </li><li>1.3.4. ВОО «Молодая Гвардия Единой России»
        </li><li>1.3.5.Студенческий координационный совет Профсоюза работников народного образования и науки Российской Федерации
        </li><li>1.3.6.ВОО «Союз добровольцев России»
        </li><li>1.3.7.Ассоциация волонтерских центров
        </li><li>1.4 Нормативно-правовая база
        </li><li>1.4.1.Федеральный закон от 29.12.2012 N 273-ФЗ «Об образовании
        в Российской Федерации»;
        </li><li>1.4.2. Федеральный закон от 12.01.1996 N 10-ФЗ «О профессиональных союзах, их правах и гарантиях деятельности»;
        </li><li>1.4.3. Федеральный закон от 19.05.1995 N 82-ФЗ «Об общественных объединениях»;
        </li><li>1.4.4. Федеральный закон от 11.09.1995 №135 ФЗ «О благотворительной деятельности и благотворительных организациях»
        </li><li>1.4.5. Письмо Минобрнауки России от 14.02.2014 N ВК-262/09
        «О методических рекомендациях о создании и деятельности советов обучающихся в образовательных организациях»
        </li><li>1.4.6. Федеральный закон от 04.12.2007г.N 329-ФЗ «О физической культуре
        и споре в Российской Федерации»
        </li>
            </ul>
    

    <h4 class="subheadings">Спорт</h4>
    <p>
        Паспорт направления
        «Студенческий спорт, туризм, отдых и здоровый образ жизни»</p>
        <ul style="list-style-type: none;">
        <li>2.0 Общая информация.
        </li><li>2.0 Студенческий спорт, туризм, отдых и здоровый образ жизни – проекты, направленные на развитие физической культуры и спорта, создание и расширение спортивной инфраструктуры в образовательных организациях высшего образования, студенческих спортивных клубов, спортивно-массовой работы со студентами в рамках деятельности спортивных клубов, реализацию массовых молодежных оздоровительных проектов, вовлечение студентов в официальные спортивные соревнования и деятельность студенческих спортивных лиг в качестве участников, соорганизаторов и болельщиков, вовлечение студентов в реализацию Всероссийского физкультурно-спортивного комплекса «ГТО», пропаганду здорового образа жизни, развитие показателей студенческих спортивных коллективов в официальных студенческих соревнованиях, вовлечение молодежи в национальные виды спорта, формирование устойчивости к вредным привычка, профилактику распространения ВИЧ, развитие образовательного туризма, развитие проектов студенческого туризма, поддержку студенческих туристических клубов, популяризацию внутреннего и въездного туризма, создание туристической инфраструктуры для обучающихся, внедрение новых форм организации туристической деятельности и отдыха обучающихся.

        </li><li>2.1Проекты реализуемые в рамках направления.
        </li><li>2.1.1.Создание Всероссийской студенческой лиги боевых искусств
        </li><li>2.1.2.Включение Всероссийской лиги боевых искусств в программу Олимпийского комитета России по обеспечения спортивным инвентарем ООВО.
        </li><li>2.1.3. Создание сети международных студенческих спортивных мероприятий проводимых в Евразийском формате.
        </li><li>2.1.4.Развитие сети спортивных студенческих клубов
        </li><li>2.1.5. Увеличение количества проводимых студенческих спортивных состязаний.
        </li><li>2.1.6. Создание на базе ООВО уличных площадок для занятий спортом и физической культурой.
        </li><li>2.1.7.Повышение спортивного статуса студенческих состязаний. Включение всероссийских студенческих соревнований в календарь Министерства спорта России и присвоение соответствующих спортивных званий их победителям.
        </li><li>2.1.8.Организация и проведение студенческого  форума в ежегодном формате  в  целях  активизации и  стимулирования  туристского  студенческого движения в России.
        </li><li>2.1.9. Создание на базе ООВО общественно студенческих объединений для выявления туристических ресурсов региона, разработки молодежных туристических маршрутов, проведений мероприятий направленных на знакомство с Регионами Российской Федерации
        </li><li>2.1.10. Разработка программ сезонного отдыха на площадках ОВОО
        </li><li>2.1.11. Создание на базе ООВО студенческих туристских клубов
        </li><li>2.1.12. Организация межрегионального обмена студентами в рамках комплексных музейно-экскурсионных мероприятий по ознакомлению с природными, экономическими, историческими, культурными особенностями регионов Российской Федерации в рамках краеведческого аспекта образовательных программ
        </li><li>2.1.13. Организация и проведение межрегиональных конкурсов, соревнований по туризму, туристских слетов, фестивалей
        </li><li>2.1.14. Создание условий для участия студентов в экологических и географических экспедициях
        </li><li>2.2 Целевая аудитория.
        </li><li>2.2.1.Студенты ООВО РФ
        </li><li>2.2.2. Администрации образовательных организаций.
        </li><li>2.2.3.Спортивные общественные организации, лиги и федерации.
        </li><li>2.2.4. Студенческие клубы
        </li><li>2.3Партнеры и ключевые сообщества.
        </li><li>2.3.1.Ассоциация студенческих спортивных клубов России
        </li><li>2.3.2.Российский студенческий спортивный союз
        </li><li>2.3.3.Спортивные федерации
        </li><li>2.3.4.Студенческие спортивные лиги по видам спорта
        </li><li>2.3.5.Федерация спортивного туризма России
        </li><li>2.3.6. Центр молодежного туризма
        </li><li>2.3.7 Российское географическое общество

        </li><li>2.4 Нормативно-правовая база
        </li><li>2.4.1. Федеральный закон от 29.12.2012 N 273-ФЗ «Об образовании
        в Российской Федерации»;
        </li><li>2.4.2. Федеральный закон от 04.12.2007г. N 329-ФЗ «О физической культуре
        и споре в Российской Федерации»;
        </li><li>2.4.3. Федеральный закон от 08.01.1998 N 3-ФЗ «О наркотических средствах и психотропных веществах»;
        </li><li>2.4.4. Федеральный закон от 30 марта 1995 г. № 38-ФЗ
        "О предупреждении распространения в Российской Федерации заболевания, вызываемого вирусом иммунодефицита человека (ВИЧ-  инфекции)";
        </li><li>2.4.5. Постановление Правительства РФ от 11 июня 2014 г. N 540
        "Об утверждении Положения о Всероссийском физкультурно-спортивном комплексе "Готов к труду и обороне";
        </li><li>2.4.6. Методические рекомендации по развитию студенческого спорта Утвержденные Министерством образования и науки и Министерством спорта Российской Федерации.
        </li>
    </ul>
    <h4 class="subheadings">Культура</h4>
    <p>
        Паспорт направления
        «Культура, искусство и творчество»
        Общая информация.
        Культура, искусство и творчество – направления, направленные на создание условий для творческой самореализации обучающихся, раскрытие студенческого творческого потенциала, развитие художественно-эстетического творчества, развитие прикладного творчества, развитие студенческих творческих клубов, развитие деятельности студенческих творческих коллективов, привития культуры поведения студенческой молодежи.
        <ul style="list-style-type: none;">
        <li>3.1. Задачи направления
        </li><li>3.1.1. Создание площадок для творческой самореализации студенческой молодежи в различных областях культуры и искусства.
        </li><li>3.1.2. Создание и развитие базы контактов формальных и неформальных студенческих объединений, занимающихся творческой деятельностью.
        </li><li>3.1.3. Духовное обогащение и развитие студенчески   молодежи.
        </li><li>3.1.4. Создание условий для творческой самореализации
        </li><li>3.1.5. Разработка и создание методического обеспечения для повышения эффективности работы студенческой молодежи.
        </li><li>3.1.6. Создание условий для развития и реализации творческих проектов
        </li><li>3.1.7. Популяризация и содействие к повышению интереса к культуре, искусству и традициям среди студенческой молодежи.
        </li><li>3.1.8. Содействие информационному освещению студенческих событий в сфере искусства и творчества.
        </li><li>3.1.9. Создание условий для неформального знакомства студенчества с современным искусством.
        </li><li>3.1.10. Создание условий для вовлечения и обмена опытом между студентами из различных регионов посредством формирования календаря событий.
        </li><li>3.1.11. Поиск, апробация, совершенствование и внедрение современных форм и методов культурного воспитания студенческой молодежи.
        </li><li>3.1.12. Создание условий для создания и развития экспертно- аналитических информационных центров содействующих воспитанию студентов.
        </li><li>3.1.13. Повышение интереса к интеллектуальным студенческим проектам.

        </li><li>3.2. Схема взаимодействия программы
        «Культура, искусство и творчество»


        </li><li>3.3 Проекты реализуемые в рамках направления.
        </li><li>3.3.1. Поддержка крупнейших всероссийских и региональных студенческих фестивалей, таких как «Студенческая весна» и «Фестос».
        </li><li>3.3.2. Проведение Всероссийского фестиваля студенческой моды «Fashion Future»
        </li><li>3.3.3. Поддержка в проведении Международного кинофестиваля спортивного кино «Красногорский». Помощь в организации открытых и онлайн показов, а так же встреч с героями фильмов для студентов. Включение в программу фестиваля студенческой номинации. Мастер-классы по киноискусству и творческие встречи.
        </li><li>3.3.4. Всероссийский студенческий бал
        </li><li>3.3.4. Мастер-классы, творческие встречи, круглые столы позволяющие повысить качество и количество студенческих творческих объединений.
        </li><li>3.3.5. Создание и совместная реализация совместных проектов с ведущими представителями отрасли.
        </li><li>3.3.6. Разработка методической литературы способствующей развитию направления.
        Проекты, которые можно рассмотреть в рамках сотрудничества:
            </li>
        <li>3.4 Целевая аудитория.
        </li><li>3.4.1. Студенты ООВО  РФ
        </li><li>3.4.2 Творческие студенческие коллективы и клубы
        </li><li>3.4.3. Администрации образовательных организаций.
        </li><li>3.4.4. Некоммерческие организации в сфере просветительской деятельности
        </li><li>3.5 Партнеры и ключевые сообщества.
        </li><li>3.5.1. ООО «Российский союз молодежи»
        </li><li>3.5.2. НФ «Фестиваль студенческого творчества «Фестос»
        </li><li>3.5.3. Студенческий координационный совет Профсоюза работников народного образования и науки Российской Федерации
        </li><li>3.5.4. Агентство социальных коммуникаций «Кампус»
        </li><li>3.5.5. Различные творчески е объединения, фестивали, конкурсы, эвент-агентства
        </li><li>3.5.6. Федеральное агентство по делам молодежи
        </li><li>3.5.7. Московский студенческий центр
        </li><li>3.5.8. Московская студенческая община
        </li><li>3.5.9. Национальная родительская ассоциация
        </li><li>3.6 Нормативно-правовая база
        </li><li>3.6.1. Федеральный закон от 29.12.2012 N 273-ФЗ «Об образовании
        в Российской Федерации»;
        </li><li>3.6.2. Указ Президента РФ от 24 декабря 2014 г. N 808
        "Об утверждении Основ государственной культурной политики";

        </li><li>3.6.3. Распоряжение от 29 мая 2015 года №996-р об утверждении Стратегии развития воспитания в Российской Федерации на период до 2025 года.
    </li>
        </ul>

        <ul style="list-style-type: none;">
        <li>1.  Краса студенчества
        </li><li>2.  Фестиваль юмора
        </li><li>3.  Этномода
        </li><li>4.  III Всероссийский молодёжный фестиваль-конкурс театров эстрадных миниатюр «МКС-2017» Фотовыставка "PHOTOMIX"
        </li><li>5.  Международная хоровая ассамблея
        </li><li>6.   Всероссийский танцевальный проект "В движении"
        </li><li>7.   Всероссийский музыкальный проект «Универвидение»
        </li><li>8.  Фестиваль достижений студенческих клубов
        </li><li>9.   Всероссийский фестиваль интеллектуального творчества
        </li><li>10.  Всероссийский форум организаторов творческих событий
        </li><li>11.  Проект «Духовные основы русской культуры»
        </li><li>12.  Конкур «А у нас в семье традиция…»
        </li><li>13.  Мир искусств на русском
            </li>
        </ul>

    <h4 class="subheadings">Права</h4>
    <p>
        Паспорт направления
        «Социальная и правовая помощь обучающимся»</p>
        <ul style="list-style-type: none;">
        <li>4.0 Общая информация.
        </li><li>4.0 Социальная и правовая помощь обучающимся – проекты, направленные на повышение уровня правовой грамотности обучающихся, создание комплекса мер помощи обучающимся попавшим в сложную жизненную ситуацию, развитие системы обратной связи с обучающимися и инструментов реагирования на негативные социальные проявления в студенческой среде, вовлечение студентов в процессы повышения качества образования, предоставления мест иногородним студентам в общежитиях, деятельности стипендиальных комиссий.

        </li><li>4.1 Проекты реализуемые в рамках направления.
        </li><li>4.1.1.Организация работы телефона «горячей линии» правовой помощи студентам.  Звонок бесплатный   для мобильных и для городских абонентов всех регионов страны.
        </li><li>4.1.2. Организация системы письменных юридических консультацийпосредством направления обращений на электронную почту.
        </li><li>4.1.3. Правовое просвещение через подготовку, издание и распространение методических материалов правового характера (памятки, брошюры методички и т.д.). Создание «правовой библиотеки» единой базы правовых материалов в сфере защиты прав студентов.
        </li><li>4.1.4 Организация системы мероприятий, направленных на правовое просвещение студенческого актива и обучающихся образовательных организаций.
        </li><li>4.1.5. Ведение единого мониторинга по соблюдению прав студентов и выявлению точек социальной напряженности в различных регионах страны.
        </li><li>4.1.6. Выработка единого подхода к предоставлению социальной и правовой помощи студентам через взаимодействие с общественными организациями и студенческими объединениями.
        </li><li>4.1.7. Рабочая группа по совершенствованию нормативно-правовой базы, регулирующей отношения в сфере образования.
        </li><li>4.2 Целевая аудитория.
        </li><li>4.2.1.Обучающиеся образовательных организаций высшего образования.
        </li><li>4.2.2. Родители, родственники и иные лица, действующие в интересах студентов.
        </li><li>4.2.3. Представители органов студенческого самоуправления.
        </li><li>4.2.4. Общественные организации.
        </li><li>4.2.5. Иные лица, интересующиеся правами обучающихся.
        </li><li>4.3Партнеры и ключевые сообщества.
        </li><li>4.3.1. ООО «Российский союз молодежи».
        </li><li>4.3.2.ООМД «Ассоциация студентов и студенческих объединений России» (АСО России).
        </li><li>4.3.3.Общественное движение «Молодые юристы России»
        </li><li>4.3.4. ВОО «Молодая Гвардия Единой России».
        </li><li>4.3.5.Студенческий координационный совет Профсоюза работников народного образования и науки Российской Федерации.
        </li><li>4.3.6. Агентство социальных коммуникаций «Кампус»
        </li><li>4.4 Нормативно-правовая база
        </li><li>4.4.1. Жилищный кодекс Российской Федерации.
        </li><li>4.4.2. Гражданский кодекс Российской Федерации.
        </li><li>4.4.3. Федеральный закон от 29.12.2012 N 273-ФЗ «Об образовании
        </li><li>в Российской Федерации».
        </li><li>4.4.4. Федеральный закон от 12.01.1996 N 10-ФЗ «О профессиональных союзах, их правах и гарантиях деятельности».
        </li><li>4.4.5. Федеральный закон от 19.05.1995 N 82-ФЗ «Об общественных объединениях».
        </li><li>4.4.6. Федеральный закон от 17.07.1999 N 178-ФЗ "О государственной социальной помощи".
        v4.4.7. Федеральный закон от 21.12.1996 N 159-ФЗ "О дополнительных гарантиях по социальной поддержке детей-сирот и детей, оставшихся без попечения родителей".
        </li><li>4.4.8. Федеральный закон от 28 марта 1998 г. N 53-ФЗ
        "О воинской обязанности и военной службе".
        </li><li>4.4.9. Постановление Правительства РФ от 6 мая 2011 г. N 354 "О предоставлении коммунальных услуг собственникам и пользователям помещений в многоквартирных домах и жилых домов"
        </li>
    </ul>
    
    <h4 class="subheadings">Профкомпетенции</h4>
    <p>
        Паспорт направления
        «Профессиональные компетенции и студенческое предпринимательство»</p>
        <ul style="list-style-type: none;">
        <li>5.0 Общая информация.
        </li><li>5.0 Профессиональные компетенции и студенческое предпринимательство – проекты, направленные на участие студентов в программах центров профессиональной ориентации, карьеры, сертификации и трудоустройства образовательных организаций, реализацию студенческих предпринимательских идей, участие студентов в работе бизнес-инкубаторов образовательных организаций, развитие студенческих центров компетенций по молодежному предпринимательству, продвижение обучающих предпринимательских программ студенческих объединений, участие в деятельности движения студенческих отрядов, повышение уровня финансовой грамотности обучающихся, создание инфраструктуры для развития профессиональных компетенций обучающихся и студенческого предпринимательства.
        </li><li>5.1Проекты реализуемые в рамках направления.
        </li><li>5.1.1.Создание на базе Росстуденечства коворкинг центра и общественных пространств для работы студенческих проектных команд
        </li><li>5.1.2.Всероссийский конкурс профессиональных компетенций
        </li><li>5.1.3.Серия образовательных семинаров «Госзакупки»
        </li><li>5.1.4.Формирование банка стажировок
        </li><li>5.1.5. Поддержка деятельности Ассоциации студенческих бизнес-инкубаторов
        </li><li>5.2 Целевая аудитория.
        </li><li>5.2.1.Студенты ООВО РФ
        </li><li>5.2.2. Студенческие бизнес-проекты и проектные команды
        </li><li>5.2.3. Работодатели
        </li><li>5.2.3. Администрации образовательных организаций
        </li><li>5.3Партнеры и ключевые сообщества.
        </li><li>5.3.1.Ассоциация студенческих бизнес-инкубаторов
        </li><li>5.3.2.Российская венчурная компания
        </li><li>5.3.3.ФГБУ «Российский центр содействия молодежному предпринимательству»
        </li><li>5.3.4.Агентство социальных коммуникаций «Кампус»
        </li><li>5.3.5.Ассоциации HR-компаний
        </li><li>5.3.6. Российские студенческие отряды
        </li><li>5.4 Нормативно-правовая база
        </li><li>5.4.1. Трудовой кодекс Российской Федерации;
        </li><li>5.4.2.Федеральный закон от 29.12.2012 N 273-ФЗ «Об образовании
        в Российской Федерации»;
        </li><li>5.4.3. Федеральный закон "О развитии малого и среднего предпринимательства в Российской Федерации" от 24.07.2007 N 209-ФЗ "
        </li>
    </ul>
    <h4 class="subheadings">Наука</h4>
    <p>
        Паспорт направления
        «Наука и инновации»</p>

        <ul style="list-style-type: none;">
        <li>6.0 Общая информация.
        </li><li>6.0 Наука и инновации – проекты, направленные на развитие студенческих научных обществ, студенческих конструкторских исследовательских бюро и лабораторий, участие студентов в инженерных разработках и поддержку студенческих инновационных конструкторских решений, технического моделирования, развития робототехники, IT-проектов, инновационного предпринимательства;

        </li><li>6.1Проекты реализуемые в рамках направления.
        </li><li>6.1.1.Турнир Трёх Наук
        </li><li>6.1.2. Всероссийский съезд молодежных научных и конструкторских объединений
        </li><li>6.1.3.Всероссийский конкурс студенческих научных обществ и конструкторских бюро
        </li><li>6.1.4. Проект «Кадровый резерв высокотехнологичных отраслей российской экономики».
        </li><li>6.1.5. Молодежный инженерный чемпионат Case-in
        </li><li>6.2 Целевая аудитория.
        </li><li>6.2.1. Студенты ООВО  РФ
        </li><li>6.2.2. Студенческие научные конструкторские общества
        </li><li>6.2.3. Крупные компании
        </li><li>6.2.4. Администрации образовательных организаций.
        </li><li>6.3Партнеры и ключевые сообщества.
        </li><li>6.3.1.Координационный совет по делам молодежи в научной и образовательнойсферах при Совете при Президенте Российской Федерации по науке иобразованию (Коорсовет)
        </li><li>6.3.2.Всероссийский Клуб молодых исследователей (ВКМИ)
        </li><li>6.3.3.Российский союз студенческих организаций (РССО)
        </li><li>6.3.4.Российский союз молодых ученых (РосМУ)
        </li><li>6.4 Нормативно-правовая база
        </li><li>6.4.1. Федеральный закон от 29.12.2012 N 273-ФЗ «Об образовании
        в Российской Федерации»;
        </li><li>6.4.2. Постановление Правительства РФ от 30.12.2015 N 1493 "О государственной программе "Патриотическое воспитание граждан Российской Федерации на 2016 - 2020 годы";
        </li>
    </ul>

    <h4 class="subheadings">ПВ и МК</h4>
    <p>
        Паспорт направления «Патриотическое воспитание и межкультурные коммуникации»
        Миссия:
        Создание условий для воспитания молодого поколения – активных граждан России, обладающих высоким уровнем духовно-нравственных ценностей и общенационального сознания, ощущающих свою личную гражданскую ответственность за судьбу страны, уважающих историю, традиции, символы России и культуры народов, проживающих на ее территории, готовых консолидировать усилия для обеспечения устойчивого развития Российской Федерации.
        Направление «Патриотическое воспитание»
        Цель: Вовлечение студенчества в систему патриотического и духовно-нравственного воспитания молодежи путем  формирования активной гражданской позиции и чувства сопричастности к процессам, происходящим стране
        Экспедиционная и поисковая деятельность:</p>
        <ul>
        <li>Поисковые отряды
        </li><li>Историко-археологические экспедиции
        </li><li>Экскурсионные маршруты по местам боевой славы
        Военно-исторические и патриотические объединения:
        </li><li>Поддержка реконструкторских движений
        </li><li>Взаимодействие с ветеранскими организациями
        </li><li>Военно-прикладные виды спорта (соревнования, конкурсы и т.д.)
        </li><li>Сохранение памятников и мемориалов
        </li><li>Популяризация подвигов российских героев и видных деятелей науки, культуры, искусства среди студентов
        </li>
        </ul>

        Информационная работа/Медиа:
        <ul>
        <li>Создание позитивного контента в социальных медиа и интернете
        </li><li>Мероприятия (круглые столы/конференции и т.д.) по аккумулированию и мультипликации положительных практик работы в медиа-пространстве
        </li><li>Информационная поддержка студенческих мероприятий
        </li><li>Информирование студентов о федеральных мероприятиях по данному направлению
        </li><li>Популяризация информации о достижениях россиян в области науки, технологий и культуры
        Активная гражданская позиция/Я – гражданин/
        </li><li>Вовлечение студентов в федеральные мероприятия по патриотическому воспитанию
        </li><li>Мероприятия по противодействию фальсификации истории
        </li><li>Популяризация достижений россиян
        </li><li>Мероприятия, направленные на повышение интереса и укрепление чувства уважения к историческому прошлому,  традициям, культуре, символам и памятникам Отечества
        </li><li>Популяризация службы в армии
        Организационно-методическое сопровождение
        </li><li>Проведение образовательных семинаров для администрации ООВО по патриотическому воспитанию молодежи
        </li><li>Создание методических пособий по организации работы по духовно-нравственному и патриотическому воспитанию студенчества
        </li><li>Создание календаря федеральных мероприятий для рекомендации участия  представителей студенчества
        </li><li>Создание и проведение образовательных модулей по информационному сопровождению деятельности и созданию позитивного контента
        </li><li>Создание проведение организационно-деятельностных и деловых игр
        </li><li>Организация и проведение научно-исследовательских мероприятий по поиску, апробации, совершенствованию и внедрению современных форм и методов патриотического и духовно-нравственного воспитания молодежи
        </li>
        </ul>

        «Межкультурные коммуникации»
        Цель: Создание условий для развития межкультурных коммуникаций студентов из различных субъектов РФ
        Популяризация национальных видов спорта
        <ul>
        <li>Проведение соревнований, фестивалей традиционных видов спорта народов России
        </li><li>Создание медиа-ресурсов о традиционных видах спорта народов России
        </li><li>Взаимодействие с общественными организациями национальных видов спорта
        </li><li>Создание студенческих клубов, популяризирующих национальные виды спорта
        </li><li>Традиционные игры народов России
            </li>
        </ul>
    
        Этнокультура
        <ul>
        <li>Этномода
        </li><li>Танцы
        </li><li>Кино/фото
        </li><li>Литература
        </li><li>Народные промыслы
        </li><li>Музыка и Фольклор
        </li><li>Современные молодежные творческие форматы
        </li><li>Кухни народов России
        </li><li>Научно-исследовательские работы по сохранению историко-культурного наследия народов России
            </li>
        </ul>

        Медиаграмотность/Этномедиа/Этно-информирование
        <ul>
        <li>Создание позитивного контента в социальных медиа, направленного на укрепление межкультурных коммуникаций
        </li><li>Создания единого медиа-календаря мероприятий по укреплению межкультурных коммуникаций для содействия межрегиональному взаимодействию студентов
        </li><li>Поиск и демонстрация фото, видео, аудио произведений о многообразии культур народов России
        </li><li>Мероприятия (круглые столы/конференции и т.д.) по аккумулированию и мультипликации положительных практик работы в медиа-пространстве
        </li><li>Информационная поддержка студенческих мероприятий
        </li><li>Информирование и вовлечение студентов в федеральные мероприятия по данному направлению
        </li><li>Создание позитивного контента об общности исторической судьбы народов России
        </li>
    </ul>
    
        Экспедиционная деятельность
        <ul>
        <li>Этнокультурные и этнофольклорные экспедиции
        </li><li>Археологические экспедиции
        </li><li>Межрегиональные экскурсионные и туристические программы для студентов
        </li><li>Этнокультурные экспедиции в места компактного проживания коренных малочисленных народов  Севера, Сибири и Дальнего Востока РФ
        </li><li>Выездные этнокультурные мероприятия (выездные семинары, лагеря и т.д.)
        </li>
    </ul>
    
        Сохранение и развитие языков народов России
        <ul>
        <li>Проведение олимпиад и творческих конкурсов по родным языкам народов России
        </li><li>Проведение научно-исследовательских мероприятий по технологиям сохранения и популяризации языков народов России
        </li><li>Создание он-лайн словарей народов России
        </li><li>Литературные гостиные на родных языках
        </li><li>Курсы по изучению языков народов России в ООВО в полиэтнических субъектах РФ
            </li>
        </ul>
    
        Социализация студентов-мигрантов
        <ul>
        <li>Вовлечение студентов-мигрантов в деятельность студенческих объединений
        </li><li>Индивидуальные консультации по коррекции самооценки, поведения и профессионального самоопределения студентов
        </li><li>Развитие практики «шефства/кураторства» над студентами-мигрантами
            </li>
        </ul>
    
        Методическое и организационное сопровождение деятельности
        <ul>
        <li>Создание и проведение образовательных программ, организационно-деятельностных и деловых игр для администрации ООВО и студенческих объединений  по укреплению межкультурных коммуникаций
        </li><li>Создание методических пособий по организации работы по укреплению межкультурных коммуникаций среди студентов
        </li><li>Создание календаря федеральных мероприятий для рекомендации участия  представителей студенчества
        </li><li>Создание и проведение образовательных модулей по информационному сопровождению деятельности и созданию позитивного контента
        </li><li>Организация и проведение научно-исследовательских мероприятий по поиску, апробации, совершенствованию и внедрению современных форм и методов укрепления межкультурных коммуникаций
        </li><li>Разработка методических рекомендаций по профилактике распространения идеологии экстремизма и дерадикализации молодежи
        </li>
    </ul>

    <h4 class="subheadings">Медиа</h4>
    <p>
        Паспорт направления
        «Медиа грамотность и информационная среда»
        </p>
    <ul style="list-style-type: none;">
        <li>8.0 Общая информация.
        </li><li>8.0 Медиа грамотность и информационная среда  – проекты, направленные на участие студенческих объединений в развитии информационной среды образовательных организаций, развитие студенческих медиа ресурсов, повышение медиа грамотности обучающихся, поддержку студенческих информационных проектов.

        </li><li>8.1Проекты реализуемые в рамках направления.

        </li><li>8.2 Целевая аудитория.
        </li><li>8.2.1. Студенты ООВО РФ
        </li><li>8.2.2. Студенческие СМИ
        </li><li>8.2.3. Администрации образовательных организаций.
        </li><li>8.3Партнеры и ключевые сообщества.
        </li><li>8.3.1. ООО «Российский союз молодежи»
        </li><li>8.3.2.Международная ассоциация студенческого телевидения
        </li><li>8.3.3.Союз студенческих СМИ
        </li><li>8.3.4. ВОО «Молодая Гвардия Единой России»
        </li><li>8.4 Нормативно-правовая база
        </li><li>8.4.1. Федеральный закон от 29.12.2012 N 273-ФЗ «Об образовании
        в Российской Федерации»;
        </li><li>8.4.2. Федеральный закон от 27.07.2006 N 149-ФЗ "Об информации, информационных технологиях и о защите информации"
        </li>
        </ul>
    <h4 class="subheadings">Международное сотрудничество</h4>
    <p>
        Паспорт направления
        «Международное и межрегиональное сотрудничество»
        <ul style="list-style-type: none;">
        <li>9.0 Общая информация.
        </li><li>9.0 Международное и межрегиональное сотрудничество– проекты, направленные на участие студенческих объединений в развитии информационной среды образовательных организаций, развитие студенческих медиа ресурсов, повышение медиа грамотности обучающихся, поддержку студенческих информационных проектов.

        </li><li>9.1Проекты реализуемые в рамках направления.
        </li><li>9.1.1.
        </li><li>9.2 Целевая аудитория.
        </li><li>9.2.1. Студенты ООВО РФ
        </li><li>9.3Партнеры и ключевые сообщества.
        </li><li>9.3.1.Ассоциация иностранных студентов России
        </li><li>9.3.2.ФГБУ «Международный молодежный центр»
        </li><li>9.3.3.Национальный совет молодежных и детских объединений
        </li><li>9.4 Нормативно-правовая база
        </li><li>9.4.1. Федеральный закон от 29.12.2012 N 273-ФЗ «Об образовании
        в Российской Федерации»;
            </li>
        </ul>
    





</div>




@section Scripts{
<script>
        $("#prdsoMenu").addClass("open");
        $("#dropdownMenu1").addClass(".btn-nav").focus();
        $("#napravleniyaprdso").addClass("activeHomeLink");
</script>
}