
@{
    ViewData["Title"] = "OurTeam";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>OurTeam</h2>
КОНТАКТНЫЙ ЛИСТ
Должность/ФИО	Контактный номер
Начальник отдела СМИ

Базаркулова Азалия Маратовна	8-495-915-28-10
post@russtudcenter.ru
Начальник отдела информатизации

Бишаев Имран Ахмедович	8-495-915-08-65
post@russtudcenter.ru
Начальник отдела «Ресурсный центр»

Емельянов Данил Олегович	8-495-915-03-97
resurs@russtudcenter.ru
Начальник отдела ПРДСО

Прохнич Светлана Михайловна	8-495-915-26-02
prdso@russtudcenter.ru
Начальник отдела мониторинга

8-495-915-26-02
prdso@russtudcenter.ru
Начальник отдела методологии и образовательных программ

Ефанова Ольга Алексеевна	8-495-915-26-02


