
@{
    ViewData["Title"] = "Наша команда";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>

    .team .member {
        border-radius: 50%;
        display: block;
        text-align: center;
    }

    .team .member img {
        background: none repeat scroll 0 0 transparent;
        height: auto;
        width: 120px;
        margin: 0 auto;
    }

        .team .member p {
            font-size: .9em;
            padding: 0 10px;
        }

    .big-text {
        font-size: 18px;
        line-height: 25px;
        margin-bottom: 0;
    }

    .img-circle {
        border-radius: 50%;
        border: 3px solid #e21c25;
    }

    .team .description {
        padding: 10px 0;
        text-align: center;
    }

    img {
        vertical-align: middle;
    }
</style>


<div class="team" style="margin-top:60px; padding-left:0px;padding-right:0px;">
    <h3 class="text-headings" style="margin-bottom: 40px;">Наша команда</h3>
    <div class="row">
        <div class="col-md-3">
            <div class="member add-animation animation-1">
                <img class="img-circle" src="~/img/makhmutov.jpg" />
                <div class="description">
                    <h3 class="big-text">Махмутов Руслан Рашидович</h3>
                    <br>
                    <p class="small-text">
                        Руководитель
                    </p>
                    <p class="small-text">
                        +7 495 915-28-10
                    </p>
                    <p class="small-text">
                        post@russtudcenter.ru
                    </p>
                </div>
                
            </div>
        </div>
        <div class="col-md-3">
            <div class="member add-animation animation-1">
                <img class="img-circle" src="~/img/ezopov.jpg" />
                <div class="description">
                    <h3 class="big-text">Езопов Михаил Васильевич</h3>
                    <br>
                    <p class="small-text">
                        Заместитель руководителя
                    </p>
                    <p class="small-text">
                        +7 495 915-28-10
                    </p>
                    <p class="small-text">
                        post@russtudcenter.ru
                    </p>
                </div>

            </div>
        </div>
        <div class="col-md-3">
            <div class="member add-animation animation-1">
                <img class="img-circle" src="~/img/antonov.jpg" />
                <div class="description">
                    <h3 class="big-text">Антонов Алексей Викторович</h3>
                    <br>
                    <p class="small-text">
                        Референт отдела административно-хозяйственной деятельности
                    </p>
                    <p class="small-text">
                        +7 495 915-28-10
                    </p>
                    <p class="small-text">
                        post@russtudcenter.ru
                    </p>
                </div>

            </div>
        </div>
        <div class="col-md-3">
            <div class="member add-animation animation-1">
                <img class="img-circle" src="~/img/bishaev.jpg" />
                <div class="description">
                    <h3 class="big-text">Бишаев Имран Ахмедович</h3>
                    <br>
                    <p class="small-text">
                        Начальник отдела информатизации
                    </p>
                    <p class="small-text">
                        +7 495 915-28-10
                    </p>
                    <p class="small-text">
                        post@russtudcenter.ru
                    </p>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="team" style="margin-top:50px; padding-left:0px;padding-right:0px;">
  
    <div class="row">
        <div class="col-md-3">
            <div class="member add-animation animation-1">
                <img class="img-circle" src="~/img/polatova.jpg" />
                <div class="description">
                    <h3 class="big-text">Полатова Олеся Анатольевна</h3>
                    <br>
                    <p class="small-text">
                        Специалист отдела информации и связей с обществом
                    </p>
                    <p class="small-text">
                        +7 495 915-28-51                    </p>
                    <p class="small-text">
                        press@russtudcenter.ru
                    </p>
                </div>

            </div>
        </div>
        <div class="col-md-3">
            <div class="member add-animation animation-1">
                <img class="img-circle" src="~/img/nasrtdinova.jpg" />
                <div class="description">
                    <h3 class="big-text">Насртдинова Дильбар Курбоналиевна</h3>
                    <br>
                    <p class="small-text">
                        Референт отдела информации и связей с обществом
                    </p>
                    <p class="small-text">
                        +7 495 915-28-51
                    </p>
                    <p class="small-text">
                        press@russtudcenter.ru
                    </p>
                </div>

            </div>
        </div>
        <div class="col-md-3">
            <div class="member add-animation animation-1">
                <img class="img-circle" src="~/img/emelyanov.jpg" />
                <div class="description">
                    <h3 class="big-text">Емельянов Данил Олегович</h3>
                    <br>
                    <p class="small-text">
                        Начальник отдела «Ресурсный центр»
                    </p>
                    <p class="small-text">
                        8-495-915-03-97
                    </p>
                    <p class="small-text">
                        resurs@russtudcenter.ru
                    </p>
                </div>

            </div>
        </div>
        <div class="col-md-3">
            <div class="member add-animation animation-1">
                <img class="img-circle" src="~/img/tasueva.jpg" />
                <div class="description">
                    <h3 class="big-text">Тасуева Мадина Алмановна</h3>
                    <br>
                    <p class="small-text">
                        Юрисконсульт
                    </p>
                    <p class="small-text">
                        8-495-915-03-97
                    </p>
                    <p class="small-text">
                        resurs@russtudcenter.ru
                    </p>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="team" style="margin-top:50px; padding-left:0px;padding-right:0px;">

    <div class="row">
        <div class="col-md-3">
            <div class="member add-animation animation-1">
                <img class="img-circle" src="~/img/galimzyanova.jpg" />
                <div class="description">
                    <h3 class="big-text">Галимзянова Лейла Наримановна</h3>
                    <br>
                    <p class="small-text">
                        Ведущий специалист отдела «Ресурсный центр»
                    </p>
                    <p class="small-text">
                        8-495-915-03-97
                    </p>
                    <p class="small-text">
                        resurs@russtudcenter.ru
                    </p>
                </div>

            </div>
        </div>
        <div class="col-md-3">
            <div class="member add-animation animation-1">
                <img class="img-circle" src="~/img/vasilieva.jpg" />
                <div class="description">
                    <h3 class="big-text">Васильева Мария Александровна</h3>
                    <br>
                    <p class="small-text">
                        Специалист отдела «Ресурсный центр»
                    </p>
                    <p class="small-text">
                        8-495-915-03-97
                    </p>
                    <p class="small-text">
                        resurs@russtudcenter.ru
                    </p>
                </div>

            </div>
        </div>
        <div class="col-md-3">
            <div class="member add-animation animation-1">
                <img class="img-circle" src="~/img/prohnich.jpg" />
                <div class="description">
                    <h3 class="big-text">Прохнич Светлана Михайловна</h3>
                    <br>
                    <p class="small-text">
                        Начальник отдела ПРДСО
                    </p>
                    <p class="small-text">
                        8-495-915-08-65
                    </p>
                    <p class="small-text">
                        prdso@russtudcenter.ru
                    </p>
                </div>

            </div>
        </div>
        <div class="col-md-3">
            <div class="member add-animation animation-1">
                <img class="img-circle" src="~/img/nizvinskiy.jpg" />
                <div class="description">
                    <h3 class="big-text">Низвинский Антон Валерьевич</h3>
                    <br>
                    <p class="small-text">
                        Юрисконсульт отдела ПРДСО
                    </p>
                    <p class="small-text">
                        8-495-915-26-02
                    </p>
                    <p class="small-text">
                        prdso@russtudcenter.ru
                    </p>
                </div>

            </div>
        </div>
    </div>
</div>


<div class="team" style="margin-top:50px; padding-left:0px;padding-right:0px;">

    <div class="row">
        <div class="col-md-6">
            <div class="member add-animation animation-1">
                <img class="img-circle" src="~/img/maheev.jpg" />
                <div class="description">
                    <h3 class="big-text">Махаев Евгений Сергеевич</h3>
                    <br>
                    <p class="small-text">
                        Ведущий специалист отдела ПРДСО
                    </p>
                    <p class="small-text">
                        8-495-915-26-02
                    </p>
                    <p class="small-text">
                        prdso@russtudcenter.ru
                    </p>
                </div>

            </div>
        </div>
        <div class="col-md-6">
            <div class="member add-animation animation-1">
                <img class="img-circle" src="~/img/albakov.jpg" />
                <div class="description">
                    <h3 class="big-text">Албаков Магомед Мухтарович</h3>
                    <br>
                    <p class="small-text">
                        Специалист отдела ПРДСО
                    </p>
                    <p class="small-text">
                        8-495-915-26-02
                    </p>
                    <p class="small-text">
                        prdso@russtudcenter.ru
                    </p>
                </div>

            </div>
        </div>
        @*<div class="col-md-4">
            <div class="member add-animation animation-1">
                <img class="img-circle" src="~/img/antonov.jpg" />
                <div class="description">
                    <h3 class="big-text">Антонов Алексей Викторович</h3>
                    <br>
                    <p class="small-text">
                        Референт отдела административно-хозяйственной деятельности
                    </p>
                    <p class="small-text">
                        +7 495 915-28-10
                    </p>
                    <p class="small-text">
                        post@russtudcenter.ru
                    </p>
                </div>

            </div>
        </div>*@
       
    </div>
</div>

@*<div class="col-md-12" style="margin-top:50px; padding-left:0px;padding-right:0px;">
    <h3 class="text-headings">Наша команда</h3>
    <p>
        Базаркулова Азалия Маратовна	8-495-915-28-10<br>
        post@russtudcenter.ru<br>
        Начальник отдела информатизации<br>
        <br><br>
        Бишаев Имран Ахмедович	8-495-915-08-65<br>
        post@russtudcenter.ru<br>
        Начальник отдела «Ресурсный центр»<br>
        <br><br>
        Емельянов Данил Олегович	8-495-915-03-97<br>
        resurs@russtudcenter.ru<br>
        Начальник отдела ПРДСО<br>
        <br><br>
        Прохнич Светлана Михайловна	8-495-915-26-02<br>
        prdso@russtudcenter.ru<br>
        Начальник отдела мониторинга<br>
        <br><br>
        8-495-915-26-02<br>
        prdso@russtudcenter.ru<br>
        Начальник отдела методологии и образовательных программ<br>

        Ефанова Ольга Алексеевна	8-495-915-26-02<br>
    </p>

</div>*@











@section Scripts{
    <script>
        $("#rosstudMenu").addClass("open");
        $("#dropdownMenu1").addClass(".btn-nav").focus();
        $("#ourteam").addClass("activeHomeLink");
    </script>
}

