
@{
    ViewData["Title"] = "Росстуденчество";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-md-12 rosstudentchestvo" data-target=".navbar-example" style="margin-top:50px;">
    
<!--<nav class="col-md-3 bs-docs-sidebar">
    <ul id="sidebar" class="nav nav-stacked fixed">
        <li>
            <a href="#GroupA">ЗАДАЧИ РОССТУДЕНЧЕСТВА</a>
        </li>
        <li>
            <a href="#GroupB">МИССИЯ</a>
        </li>
        <li>
            <a href="#GroupC">НАПРАВЛЕНИЯ</a>
            <ul class="nav nav-stacked">
                <li><a href="#GroupCSub1">Самоуправление</a></li>
                <li><a href="#GroupCSub2">Спорт</a></li>
                <li><a href="#GroupCSub3">Культура</a></li>
                <li><a href="#GroupCSub4">Права</a></li>
                <li><a href="#GroupCSub5">Профкомпетенции</a></li>
                <li><a href="#GroupCSub6">Наука</a></li>
                <li><a href="#GroupCSub7">ПВ и МК</a></li>
                <li><a href="#GroupCSub8">Медиа</a></li>
                <li><a href="#GroupCSub9">Муждународное сотрудничество</a></li>
            </ul>
        </li>
        <li>
            <a href="#GroupD">ОТДЕЛЫ</a>
                
        </li>
    </ul>
</nav>-->
<!--Main Content -->
<div class="col-md-12" style="padding-left:0px;padding-right:0px;">

    <h3 class="text-headings">Задачи росстуденчества</h3>
    <p>В основные задачи Росстуденчества входят:</p>
            <ol>
        <li>координация деятельности студенческих объединений образовательных организаций;</li>
        <li>мониторинг социальной активности обучающихся, анализ состояния воспитательной работы и инфраструктуры образовательных организаций;</li>
        <li>методическое обеспечение и оказание содействия в организации всеобщих студенческих выборов председателей советов обучающихся образовательных организаций;</li>
        <li>сбор, анализ и подготовка для Минобрнауки России оперативной и достоверной информации о существующей ситуации в студенческой среде;</li>
        <li>прием, своевременное и полное рассмотрение устных и письменных обращений обучающихся, принятие по ним в рамках предоставленных компетенций мотивированных решений в установленный законодательством срок;</li>
        <li>содействие Минобрнауки России в реализации на территории Российской Федерации федеральных государственных целевых программ, приоритетных национальных проектов по развитию деятельности студенческих объединений;</li>
        <li>способствование интеграции в социально-проектную деятельность студенческих объединений заинтересованных участников реального сектора экономики и социокультурного пространства;</li>
        <li>содействие интеграции обучающихся образовательных организаций в профессиональные сообщества;</li>
        <li>организация мероприятий, направленных на физическое и духовно-нравственное развитие обучающихся, пропаганду здорового образа жизни и физической культуры, творческую и научную самореализацию, воспитание патриотизма;</li>
        <li>содействие развитию международного и межрегионального сотрудничества студенческих объединений и академической мобильности;</li>
        <li>обеспечение деятельности по защите прав студентов и развитию обратной связи;</li>
        <li>взаимодействие со структурными подразделениями образовательных организаций, отвечающими за воспитательную работу;</li>
        </ol>

    <h3 class="text-headings">Миссия</h3>
    <p>По данным Федеральной службы государственной статистики число образовательных учреждений высшего образования в 2012/2013 учебном году составило 1046 единиц (из них 437 – негосударственные), в которых обучалось 6073,9 тысяч студентов.
        На конец 2013 года примерно в 80 % образовательных организаций были созданы советы обучающихся.
        В целях информационной поддержки обучающихся и координации деятельности студенческих объединений образовательных организаций высшего образования по развитию системы студенческого самоуправления и повышения роли студенчества в обеспечении модернизации высшего образования в октябре 2014 года приказом Министерства образования и науки Российской Федерации от 16.10.2014 № 1330 создан Российский студенческий центр «Росстуденчество».
        Центр осуществляет свою деятельность во взаимодействии с федеральными органами государственной власти, осуществляющими функции в сфере образования и молодежной политики, иными федеральными органами исполнительной власти, органами государственной власти субъектов Российской Федерации, органами местного самоуправления, общественными объединениями и иными организациями.
    </p>




        <h3 class="text-headings">О портале</h3>
        <p>В настоящий момент в России действует более 950 образовательных организаций, в которых обучается более 5,2 млн. студентов. 
Практически все образовательные организации Российской Федерации имеют свои сайты в сети Интернет, на которых представлена полная информация о деятельности учебных заведений. Сегодня сайт – необходимый, а для многих учебных заведений – основной инструмент набора студентов на новый учебный год, слушателей программ профессиональной переподготовки, информирования об учебных и внеучебных программах, взаимодействия с обучающимися, преподавателями и абитуриентами.
Правила приема документов и условия зачисления, структура вступительных испытаний и сроки экзаменов, состояние организационно-правовой и материально-технической базы, наличие студенческих объединений, спортивных клубов, научных обществ, программ трудоустройства, информация для абитуриентов,  студентов и аспирантов все это есть на сайте каждого учебного заведения. 
Основной проблемой остается разрозненность информации для пользователей. У каждой образовательной организации свой сайт и при поиске необходимой информации по нескольким образовательным организациям надо пользоваться разными порталами. 
Портал  Росстуденчество.рф призван решить проблему разрозненности сайтов образовательных организаций в части деятельности студенческих объединений и активных представителей студенчества России.
Росстуденчество.рф – это платформа, созданная для решения ключевых государственных задач в отношении студенческой молодежи, а также инструмент, позволяющий исследовать настроение молодежи всей страны и каждого региона в отдельности.
 С помощью платформы Росстуденчество.рф Центр сконцентрирует на себе функции системного мониторинга социального самочувствия студенческой молодежи, обеспечения защиты прав студентов, вопросы организации и технического сопровождения Конкурса программ развития деятельности студенческих объединений, а также тему методической и организационной поддержки деятельности советов обучающихся. </p>

            

    
</div>
@section Scripts{
    <script>
        $("#rosstudMenu").addClass("open");
        $("#dropdownMenu1").addClass(".btn-nav").focus();
        $("#rosstudenchestvo").addClass("activeHomeLink");
    </script>
}


