
@{
    ViewData["Title"] = "Росстуденчество";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-md-12 rosstudentchestvo" data-target=".navbar-example" style="margin-top:50px;">
    
<nav class="col-md-3 bs-docs-sidebar">
    <ul id="sidebar" class="nav nav-stacked fixed">
        <li>
            <a href="#GroupA">ЗАДАЧИ РОССТУДЕНЧЕСТВА</a>
        </li>
        <li>
            <a href="#GroupB">МИССИЯ</a>
        </li>
        <li>
            <a href="#GroupC">НАПРАВЛЕНИЯ</a>
            <ul class="nav nav-stacked">
                <li><a href="#GroupCSub1">Самоуправление</a></li>
                <li><a href="#GroupCSub2">Спорт</a></li>
                <li><a href="#GroupCSub3">Культура</a></li>
                <li><a href="#GroupCSub4">Права</a></li>
                <li><a href="#GroupCSub5">Профкомпетенции</a></li>
                <li><a href="#GroupCSub6">Наука</a></li>
                <li><a href="#GroupCSub7">ПВ и МК</a></li>
                <li><a href="#GroupCSub8">Медиа</a></li>
                <li><a href="#GroupCSub9">Муждународное сотрудничество</a></li>
            </ul>
        </li>
        <li>
            <a href="#GroupD">ОТДЕЛЫ</a>
                
        </li>
    </ul>
</nav>
<!--Main Content -->
<div class="col-md-9">
<section id="GroupA" class="group">
    <h3>ЗАДАЧИ РОССТУДЕНЧЕСТВА</h3>
    <p>2.1. В основные задачи Росстуденчества входят:
        2.1.1. координация деятельности студенческих объединений образовательных организаций;
        2.1.2. мониторинг социальной активности обучающихся, анализ состояния воспитательной работы и инфраструктуры образовательных организаций;
        2.1.3. методическое обеспечение и оказание содействия в организации всеобщих студенческих выборов председателей советов обучающихся образовательных организаций;
        2.1.4. сбор, анализ и подготовка для Минобрнауки России оперативной
        и достоверной информации о существующей ситуации в студенческой среде;
        2.1.5. прием, своевременное и полное рассмотрение устных и письменных обращений обучающихся, принятие по ним в рамках предоставленных компетенций мотивированных решений в установленный законодательством срок;
        2.1.6. содействие Минобрнауки России в реализации на территории Российской Федерации федеральных государственных целевых программ, приоритетных национальных проектов по развитию деятельности студенческих объединений;
        2.1.7. способствование интеграции в социально-проектную деятельность студенческих объединений заинтересованных участников реального сектора экономики и социокультурного пространства;
        2.1.8. содействие интеграции обучающихся образовательных организаций
        в профессиональные сообщества;
        2.1.9. организация мероприятий, направленных на физическое и духовно-нравственное развитие обучающихся, пропаганду здорового образа жизни и физической культуры, творческую и научную самореализацию, воспитание патриотизма;
        2.1.10. содействие развитию международного и межрегионального сотрудничества студенческих объединений и академической мобильности;
        2.1.12. обеспечение деятельности по защите прав студентов и развитию обратной связи;
        2.1.13. взаимодействие со структурными подразделениями образовательных организаций, отвечающими за воспитательную работу;
    </p>
</section>
<section id="GroupB" class="group">
    <h3>Миссия</h3>
    <p>По данным Федеральной службы государственной статистики число образовательных учреждений высшего образования в 2012/2013 учебном году составило 1046 единиц (из них 437 – негосударственные), в которых обучалось 6073,9 тысяч студентов.
        На конец 2013 года примерно в 80 % образовательных организаций были созданы советы обучающихся.
        В целях информационной поддержки обучающихся и координации деятельности студенческих объединений образовательных организаций высшего образования по развитию системы студенческого самоуправления и повышения роли студенчества в обеспечении модернизации высшего образования в октябре 2014 года приказом Министерства образования и науки Российской Федерации от 16.10.2014 № 1330 создан Российский студенческий центр «Росстуденчество».
        Центр осуществляет свою деятельность во взаимодействии с федеральными органами государственной власти, осуществляющими функции в сфере образования и молодежной политики, иными федеральными органами исполнительной власти, органами государственной власти субъектов Российской Федерации, органами местного самоуправления, общественными объединениями и иными организациями.
    </p>
</section>
<section id="GroupC" class="group">
<h3>Направления</h3>
<div id="GroupCSub1" class="subgroup">
    <h4>Самоуправление</h4>
    <p>
        Паспорт направления
        «Студенческое самоуправление, социальная активность и проектирование»
        1.0 Общая информация.
        1.0 Студенческое самоуправление, социальная активность и проектирование - проекты, направленные на развитие организационной деятельности объединенных советов обучающихся, развитие систем обучения студенческих активов, расширение сети студенческих объединений, развитие системы выборов в объединенные советы обучающихся, волонтерских и добровольческих студенческих объединений, повышение компетенций студенческих объединений в социальном проектировании и реализации благотворительных и социальных проектов, улучшение работы с различными организациями и учреждениями, развитие взаимодействия студенческих объединений с социально-ориентированными некоммерческими организациями, выявление и поддержку инновационных подходов к воспитательной работе и организации деятельности органов студенческого самоуправления (студенческих объединений).
        1.1Проекты реализуемые в рамках направления.
        1.1.1. Создание на базе Российского студенческого центра постоянно действующей образовательной площадки, в том числе онлайн,  для руководителей и активистов органов студенческого самоуправления, представителей волонтерских и добровольческих отрядов.
        1.1.2. Создание студенческого коворкинг центра.
        1.1.3. Рабочая группа по совершенствованию нормативно-правовой базы регулирующей деятельность органов студенческого самоуправления.
        1.1.4. Внедрение унифицированных подходов к формированию и деятельности органов студенческого самоуправления.
        1.1.4. Рейтинг советов обучающихся.
        1.1.5. Кадровый резерв – рейтинг председателей советов обучающихся.
        1.1.6.Создание  интернет платформы горизонтального взаимодействия (Студенческая краудсорсинговая платформа «СтудСтартер»).
        1.1.7.Опорные центры - создание опорных центров студенческого самоуправления в Федеральных округах.
        1.1.8.Студенческие выборы – внедрение системы выборов в процесс формирования советов обучающихся.
        1.1.9.Информационно – методическое обеспечение деятельности органов студенческого самоуправления.
        1.1.10. Расширение сети волонтерских и добровольческих отрядов в образовательных организациях высшего образования.
        1.1.11. Поддержка программ в области студенческого самоуправления реализуемых общественными организациями.
        1.2 Целевая аудитория.
        1.2.1.Социально активные студенты и представители органов студенческого самоуправления.
        1.2.2. Администрации образовательных организаций.
        1.2.2. Общественные организации.
        1.3Партнеры и ключевые сообщества.
        1.3.1. ООО «Российский союз молодежи»
        1.3.2.ООМД «Ассоциация студентов и студенческих объединений России» (АСО России)
        1.3.3. Агентство социальных коммуникаций «Кампус»
        1.3.4. ВОО «Молодая Гвардия Единой России»
        1.3.5.Студенческий координационный совет Профсоюза работников народного образования и науки Российской Федерации
        1.3.6.ВОО «Союз добровольцев России»
        1.3.7.Ассоциация волонтерских центров
        1.4 Нормативно-правовая база
        1.4.1.Федеральный закон от 29.12.2012 N 273-ФЗ «Об образовании
        в Российской Федерации»;
        1.4.2. Федеральный закон от 12.01.1996 N 10-ФЗ «О профессиональных союзах, их правах и гарантиях деятельности»;
        1.4.3. Федеральный закон от 19.05.1995 N 82-ФЗ «Об общественных объединениях»;
        1.4.4. Федеральный закон от 11.09.1995 №135 ФЗ «О благотворительной деятельности и благотворительных организациях»
        1.4.5. Письмо Минобрнауки России от 14.02.2014 N ВК-262/09
        «О методических рекомендациях о создании и деятельности советов обучающихся в образовательных организациях»
        1.4.6. Федеральный закон от 04.12.2007г.N 329-ФЗ «О физической культуре
        и споре в Российской Федерации»
    </p>
</div>
<div id="GroupCSub2" class="subgroup">
    <h4>Спорт</h4>
    <p>
        Паспорт направления
        «Студенческий спорт, туризм, отдых и здоровый образ жизни»
        2.0 Общая информация.
        2.0 Студенческий спорт, туризм, отдых и здоровый образ жизни – проекты, направленные на развитие физической культуры и спорта, создание и расширение спортивной инфраструктуры в образовательных организациях высшего образования, студенческих спортивных клубов, спортивно-массовой работы со студентами в рамках деятельности спортивных клубов, реализацию массовых молодежных оздоровительных проектов, вовлечение студентов в официальные спортивные соревнования и деятельность студенческих спортивных лиг в качестве участников, соорганизаторов и болельщиков, вовлечение студентов в реализацию Всероссийского физкультурно-спортивного комплекса «ГТО», пропаганду здорового образа жизни, развитие показателей студенческих спортивных коллективов в официальных студенческих соревнованиях, вовлечение молодежи в национальные виды спорта, формирование устойчивости к вредным привычка, профилактику распространения ВИЧ, развитие образовательного туризма, развитие проектов студенческого туризма, поддержку студенческих туристических клубов, популяризацию внутреннего и въездного туризма, создание туристической инфраструктуры для обучающихся, внедрение новых форм организации туристической деятельности и отдыха обучающихся.

        2.1Проекты реализуемые в рамках направления.
        2.1.1.Создание Всероссийской студенческой лиги боевых искусств
        2.1.2.Включение Всероссийской лиги боевых искусств в программу Олимпийского комитета России по обеспечения спортивным инвентарем ООВО.
        2.1.3. Создание сети международных студенческих спортивных мероприятий проводимых в Евразийском формате.
        2.1.4.Развитие сети спортивных студенческих клубов
        2.1.5. Увеличение количества проводимых студенческих спортивных состязаний.
        2.1.6. Создание на базе ООВО уличных площадок для занятий спортом и физической культурой.
        2.1.7.Повышение спортивного статуса студенческих состязаний. Включение всероссийских студенческих соревнований в календарь Министерства спорта России и присвоение соответствующих спортивных званий их победителям.
        2.1.8.Организация и проведение студенческого  форума в ежегодном формате  в  целях  активизации и  стимулирования  туристского  студенческого движения в России.
        2.1.9. Создание на базе ООВО общественно студенческих объединений для выявления туристических ресурсов региона, разработки молодежных туристических маршрутов, проведений мероприятий направленных на знакомство с Регионами Российской Федерации
        2.1.10. Разработка программ сезонного отдыха на площадках ОВОО
        2.1.11. Создание на базе ООВО студенческих туристских клубов
        2.1.12. Организация межрегионального обмена студентами в рамках комплексных музейно-экскурсионных мероприятий по ознакомлению с природными, экономическими, историческими, культурными особенностями регионов Российской Федерации в рамках краеведческого аспекта образовательных программ
        2.1.13. Организация и проведение межрегиональных конкурсов, соревнований по туризму, туристских слетов, фестивалей
        2.1.14. Создание условий для участия студентов в экологических и географических экспедициях
        2.2 Целевая аудитория.
        2.2.1.Студенты ООВО РФ
        2.2.2. Администрации образовательных организаций.
        2.2.3.Спортивные общественные организации, лиги и федерации.
        2.2.4. Студенческие клубы
        2.3Партнеры и ключевые сообщества.
        2.3.1.Ассоциация студенческих спортивных клубов России
        2.3.2.Российский студенческий спортивный союз
        2.3.3.Спортивные федерации
        2.3.4.Студенческие спортивные лиги по видам спорта
        2.3.5.Федерация спортивного туризма России
        2.3.6. Центр молодежного туризма
        2.3.7 Российское географическое общество

        2.4 Нормативно-правовая база
        2.4.1. Федеральный закон от 29.12.2012 N 273-ФЗ «Об образовании
        в Российской Федерации»;
        2.4.2. Федеральный закон от 04.12.2007г. N 329-ФЗ «О физической культуре
        и споре в Российской Федерации»;
        2.4.3. Федеральный закон от 08.01.1998 N 3-ФЗ «О наркотических средствах и психотропных веществах»;
        2.4.4. Федеральный закон от 30 марта 1995 г. № 38-ФЗ
        "О предупреждении распространения в Российской Федерации заболевания, вызываемого вирусом иммунодефицита человека (ВИЧ-  инфекции)";
        2.4.5. Постановление Правительства РФ от 11 июня 2014 г. N 540
        "Об утверждении Положения о Всероссийском физкультурно-спортивном комплексе "Готов к труду и обороне";
        2.4.6. Методические рекомендации по развитию студенческого спорта Утвержденные Министерством образования и науки и Министерством спорта Российской Федерации.
    </p>
</div>

<div id="GroupCSub3" class="subgroup">
    <h4>Культура</h4>
    <p>
        Паспорт направления
        «Культура, искусство и творчество»
        Общая информация.
        Культура, искусство и творчество – направления, направленные на создание условий для творческой самореализации обучающихся, раскрытие студенческого творческого потенциала, развитие художественно-эстетического творчества, развитие прикладного творчества, развитие студенческих творческих клубов, развитие деятельности студенческих творческих коллективов, привития культуры поведения студенческой молодежи.
        3.1. Задачи направления
        3.1.1. Создание площадок для творческой самореализации студенческой молодежи в различных областях культуры и искусства.
        3.1.2. Создание и развитие базы контактов формальных и неформальных студенческих объединений, занимающихся творческой деятельностью.
        3.1.3. Духовное обогащение и развитие студенчески	молодежи.
        3.1.4. Создание условий для творческой самореализации
        3.1.5. Разработка и создание методического обеспечения для повышения эффективности работы студенческой молодежи.
        3.1.6. Создание условий для развития и реализации творческих проектов
        3.1.7. Популяризация и содействие к повышению интереса к культуре, искусству и традициям среди студенческой молодежи.
        3.1.8. Содействие информационному освещению студенческих событий в сфере искусства и творчества.
        3.1.9. Создание условий для неформального знакомства студенчества с современным искусством.
        3.1.10. Создание условий для вовлечения и обмена опытом между студентами из различных регионов посредством формирования календаря событий.
        3.1.11. Поиск, апробация, совершенствование и внедрение современных форм и методов культурного воспитания студенческой молодежи.
        3.1.12. Создание условий для создания и развития экспертно- аналитических информационных центров содействующих воспитанию студентов.
        3.1.13. Повышение интереса к интеллектуальным студенческим проектам.

        3.2. Схема взаимодействия программы
        «Культура, искусство и творчество»


        3.3 Проекты реализуемые в рамках направления.
        3.3.1. Поддержка крупнейших всероссийских и региональных студенческих фестивалей, таких как «Студенческая весна» и «Фестос».
        3.3.2. Проведение Всероссийского фестиваля студенческой моды «Fashion Future»
        3.3.3. Поддержка в проведении Международного кинофестиваля спортивного кино «Красногорский». Помощь в организации открытых и онлайн показов, а так же встреч с героями фильмов для студентов. Включение в программу фестиваля студенческой номинации. Мастер-классы по киноискусству и творческие встречи.
        3.3.4. Всероссийский студенческий бал
        3.3.4. Мастер-классы, творческие встречи, круглые столы позволяющие повысить качество и количество студенческих творческих объединений.
        3.3.5. Создание и совместная реализация совместных проектов с ведущими представителями отрасли.
        3.3.6. Разработка методической литературы способствующей развитию направления.
        Проекты, которые можно рассмотреть в рамках сотрудничества:
        1.	Краса студенчества
        2.	Фестиваль юмора
        3.	Этномода
        4.	III Всероссийский молодёжный фестиваль-конкурс театров эстрадных миниатюр «МКС-2017» Фотовыставка "PHOTOMIX"
        5.	Международная хоровая ассамблея
        6.	 Всероссийский танцевальный проект "В движении"
        7.	 Всероссийский музыкальный проект «Универвидение»
        8.	Фестиваль достижений студенческих клубов
        9.	 Всероссийский фестиваль интеллектуального творчества
        10.	 Всероссийский форум организаторов творческих событий
        11.	 Проект «Духовные основы русской культуры»
        12.	 Конкур «А у нас в семье традиция…»
        13.	 Мир искусств на русском
        3.4 Целевая аудитория.
        3.4.1. Студенты ООВО  РФ
        3.4.2 Творческие студенческие коллективы и клубы
        3.4.3. Администрации образовательных организаций.
        3.4.4. Некоммерческие организации в сфере просветительской деятельности
        3.5 Партнеры и ключевые сообщества.
        3.5.1. ООО «Российский союз молодежи»
        3.5.2. НФ «Фестиваль студенческого творчества «Фестос»
        3.5.3. Студенческий координационный совет Профсоюза работников народного образования и науки Российской Федерации
        3.5.4. Агентство социальных коммуникаций «Кампус»
        3.5.5. Различные творчески е объединения, фестивали, конкурсы, эвент-агентства
        3.5.6. Федеральное агентство по делам молодежи
        3.5.7. Московский студенческий центр
        3.5.8. Московская студенческая община
        3.5.9. Национальная родительская ассоциация
        3.6 Нормативно-правовая база
        3.6.1. Федеральный закон от 29.12.2012 N 273-ФЗ «Об образовании
        в Российской Федерации»;
        3.6.2. Указ Президента РФ от 24 декабря 2014 г. N 808
        "Об утверждении Основ государственной культурной политики";

        3.6.3. Распоряжение от 29 мая 2015 года №996-р об утверждении Стратегии развития воспитания в Российской Федерации на период до 2025 года.
    </p>
</div>
<div id="GroupCSub4" class="subgroup">
    <h4>Права</h4>
    <p>
        Паспорт направления
        «Социальная и правовая помощь обучающимся»
        4.0 Общая информация.
        4.0 Социальная и правовая помощь обучающимся – проекты, направленные на повышение уровня правовой грамотности обучающихся, создание комплекса мер помощи обучающимся попавшим в сложную жизненную ситуацию, развитие системы обратной связи с обучающимися и инструментов реагирования на негативные социальные проявления в студенческой среде, вовлечение студентов в процессы повышения качества образования, предоставления мест иногородним студентам в общежитиях, деятельности стипендиальных комиссий.

        4.1 Проекты реализуемые в рамках направления.
        4.1.1.Организация работы телефона «горячей линии» правовой помощи студентам.  Звонок бесплатный   для мобильных и для городских абонентов всех регионов страны.
        4.1.2. Организация системы письменных юридических консультацийпосредством направления обращений на электронную почту.
        4.1.3. Правовое просвещение через подготовку, издание и распространение методических материалов правового характера (памятки, брошюры методички и т.д.). Создание «правовой библиотеки» единой базы правовых материалов в сфере защиты прав студентов.
        4.1.4 Организация системы мероприятий, направленных на правовое просвещение студенческого актива и обучающихся образовательных организаций.
        4.1.5. Ведение единого мониторинга по соблюдению прав студентов и выявлению точек социальной напряженности в различных регионах страны.
        4.1.6. Выработка единого подхода к предоставлению социальной и правовой помощи студентам через взаимодействие с общественными организациями и студенческими объединениями.
        4.1.7. Рабочая группа по совершенствованию нормативно-правовой базы, регулирующей отношения в сфере образования.
        4.2 Целевая аудитория.
        4.2.1.Обучающиеся образовательных организаций высшего образования.
        4.2.2. Родители, родственники и иные лица, действующие в интересах студентов.
        4.2.3. Представители органов студенческого самоуправления.
        4.2.4. Общественные организации.
        4.2.5. Иные лица, интересующиеся правами обучающихся.
        4.3Партнеры и ключевые сообщества.
        4.3.1. ООО «Российский союз молодежи».
        4.3.2.ООМД «Ассоциация студентов и студенческих объединений России» (АСО России).
        4.3.3.Общественное движение «Молодые юристы России»
        4.3.4. ВОО «Молодая Гвардия Единой России».
        4.3.5.Студенческий координационный совет Профсоюза работников народного образования и науки Российской Федерации.
        4.3.6. Агентство социальных коммуникаций «Кампус»
        4.4 Нормативно-правовая база
        4.4.1. Жилищный кодекс Российской Федерации.
        4.4.2. Гражданский кодекс Российской Федерации.
        4.4.3. Федеральный закон от 29.12.2012 N 273-ФЗ «Об образовании
        в Российской Федерации».
        4.4.4. Федеральный закон от 12.01.1996 N 10-ФЗ «О профессиональных союзах, их правах и гарантиях деятельности».
        4.4.5. Федеральный закон от 19.05.1995 N 82-ФЗ «Об общественных объединениях».
        4.4.6. Федеральный закон от 17.07.1999 N 178-ФЗ "О государственной социальной помощи".
        4.4.7. Федеральный закон от 21.12.1996 N 159-ФЗ "О дополнительных гарантиях по социальной поддержке детей-сирот и детей, оставшихся без попечения родителей".
        4.4.8. Федеральный закон от 28 марта 1998 г. N 53-ФЗ
        "О воинской обязанности и военной службе".
        4.4.9. Постановление Правительства РФ от 6 мая 2011 г. N 354 "О предоставлении коммунальных услуг собственникам и пользователям помещений в многоквартирных домах и жилых домов"
    </p>
</div>
<div id="GroupCSub5" class="subgroup">
    <h4>Профкомпетенции</h4>
    <p>
        Паспорт направления
        «Профессиональные компетенции и студенческое предпринимательство»
        5.0 Общая информация.
        5.0 Профессиональные компетенции и студенческое предпринимательство – проекты, направленные на участие студентов в программах центров профессиональной ориентации, карьеры, сертификации и трудоустройства образовательных организаций, реализацию студенческих предпринимательских идей, участие студентов в работе бизнес-инкубаторов образовательных организаций, развитие студенческих центров компетенций по молодежному предпринимательству, продвижение обучающих предпринимательских программ студенческих объединений, участие в деятельности движения студенческих отрядов, повышение уровня финансовой грамотности обучающихся, создание инфраструктуры для развития профессиональных компетенций обучающихся и студенческого предпринимательства.
        5.1Проекты реализуемые в рамках направления.
        5.1.1.Создание на базе Росстуденечства коворкинг центра и общественных пространств для работы студенческих проектных команд
        5.1.2.Всероссийский конкурс профессиональных компетенций
        5.1.3.Серия образовательных семинаров «Госзакупки»
        5.1.4.Формирование банка стажировок
        5.1.5. Поддержка деятельности Ассоциации студенческих бизнес-инкубаторов
        5.2 Целевая аудитория.
        5.2.1.Студенты ООВО РФ
        5.2.2. Студенческие бизнес-проекты и проектные команды
        5.2.3. Работодатели
        5.2.3. Администрации образовательных организаций
        5.3Партнеры и ключевые сообщества.
        5.3.1.Ассоциация студенческих бизнес-инкубаторов
        5.3.2.Российская венчурная компания
        5.3.3.ФГБУ «Российский центр содействия молодежному предпринимательству»
        5.3.4.Агентство социальных коммуникаций «Кампус»
        5.3.5.Ассоциации HR-компаний
        5.3.6. Российские студенческие отряды
        5.4 Нормативно-правовая база
        5.4.1. Трудовой кодекс Российской Федерации;
        5.4.2.Федеральный закон от 29.12.2012 N 273-ФЗ «Об образовании
        в Российской Федерации»;
        5.4.3. Федеральный закон "О развитии малого и среднего предпринимательства в Российской Федерации" от 24.07.2007 N 209-ФЗ "
    </p>
</div>
<div id="GroupCSub6" class="subgroup">
    <h4>Наука</h4>
    <p>
        Паспорт направления
        «Наука и инновации»
        6.0	Общая информация.
        6.0 Наука и инновации – проекты, направленные на развитие студенческих научных обществ, студенческих конструкторских исследовательских бюро и лабораторий, участие студентов в инженерных разработках и поддержку студенческих инновационных конструкторских решений, технического моделирования, развития робототехники, IT-проектов, инновационного предпринимательства;

        6.1Проекты реализуемые в рамках направления.
        6.1.1.Турнир Трёх Наук
        6.1.2. Всероссийский съезд молодежных научных и конструкторских объединений
        6.1.3.Всероссийский конкурс студенческих научных обществ и конструкторских бюро
        6.1.4. Проект «Кадровый резерв высокотехнологичных отраслей российской экономики».
        6.1.5. Молодежный инженерный чемпионат Case-in
        6.2 Целевая аудитория.
        6.2.1. Студенты ООВО  РФ
        6.2.2. Студенческие научные конструкторские общества
        6.2.3. Крупные компании
        6.2.4. Администрации образовательных организаций.
        6.3Партнеры и ключевые сообщества.
        6.3.1.Координационный совет по делам молодежи в научной и образовательнойсферах при Совете при Президенте Российской Федерации по науке иобразованию (Коорсовет)
        6.3.2.Всероссийский Клуб молодых исследователей (ВКМИ)
        6.3.3.Российский союз студенческих организаций (РССО)
        6.3.4.Российский союз молодых ученых (РосМУ)
        6.4 Нормативно-правовая база
        6.4.1. Федеральный закон от 29.12.2012 N 273-ФЗ «Об образовании
        в Российской Федерации»;
        6.4.2. Постановление Правительства РФ от 30.12.2015 N 1493 "О государственной программе "Патриотическое воспитание граждан Российской Федерации на 2016 - 2020 годы";
    </p>
</div>

<div id="GroupCSub7" class="subgroup">
    <h4>ПВ и МК</h4>
    <p>
        Паспорт направления «Патриотическое воспитание и межкультурные коммуникации»
        Миссия:
        Создание условий для воспитания молодого поколения – активных граждан России, обладающих высоким уровнем духовно-нравственных ценностей и общенационального сознания, ощущающих свою личную гражданскую ответственность за судьбу страны, уважающих историю, традиции, символы России и культуры народов, проживающих на ее территории, готовых консолидировать усилия для обеспечения устойчивого развития Российской Федерации.
        Направление «Патриотическое воспитание»
        Цель: Вовлечение студенчества в систему патриотического и духовно-нравственного воспитания молодежи путем  формирования активной гражданской позиции и чувства сопричастности к процессам, происходящим стране
        Экспедиционная и поисковая деятельность:
        •	Поисковые отряды
        •	Историко-археологические экспедиции
        •	Экскурсионные маршруты по местам боевой славы
        Военно-исторические и патриотические объединения:
        •	Поддержка реконструкторских движений
        •	Взаимодействие с ветеранскими организациями
        •	Военно-прикладные виды спорта (соревнования, конкурсы и т.д.)
        •	Сохранение памятников и мемориалов
        •	Популяризация подвигов российских героев и видных деятелей науки, культуры, искусства среди студентов

        Информационная работа/Медиа:
        •	Создание позитивного контента в социальных медиа и интернете
        •	Мероприятия (круглые столы/конференции и т.д.) по аккумулированию и мультипликации положительных практик работы в медиа-пространстве
        •	Информационная поддержка студенческих мероприятий
        •	Информирование студентов о федеральных мероприятиях по данному направлению
        •	Популяризация информации о достижениях россиян в области науки, технологий и культуры
        Активная гражданская позиция/Я – гражданин/
        •	Вовлечение студентов в федеральные мероприятия по патриотическому воспитанию
        •	Мероприятия по противодействию фальсификации истории
        •	Популяризация достижений россиян
        •	Мероприятия, направленные на повышение интереса и укрепление чувства уважения к историческому прошлому,  традициям, культуре, символам и памятникам Отечества
        •	Популяризация службы в армии
        Организационно-методическое сопровождение
        •	Проведение образовательных семинаров для администрации ООВО по патриотическому воспитанию молодежи
        •	Создание методических пособий по организации работы по духовно-нравственному и патриотическому воспитанию студенчества
        •	Создание календаря федеральных мероприятий для рекомендации участия  представителей студенчества
        •	Создание и проведение образовательных модулей по информационному сопровождению деятельности и созданию позитивного контента
        •	Создание проведение организационно-деятельностных и деловых игр
        •	Организация и проведение научно-исследовательских мероприятий по поиску, апробации, совершенствованию и внедрению современных форм и методов патриотического и духовно-нравственного воспитания молодежи
        «Межкультурные коммуникации»
        Цель: Создание условий для развития межкультурных коммуникаций студентов из различных субъектов РФ
        Популяризация национальных видов спорта
        •	Проведение соревнований, фестивалей традиционных видов спорта народов России
        •	Создание медиа-ресурсов о традиционных видах спорта народов России
        •	Взаимодействие с общественными организациями национальных видов спорта
        •	Создание студенческих клубов, популяризирующих национальные виды спорта
        •	Традиционные игры народов России

        Этнокультура
        •	Этномода
        •	Танцы
        •	Кино/фото
        •	Литература
        •	Народные промыслы
        •	Музыка и Фольклор
        •	Современные молодежные творческие форматы
        •	Кухни народов России
        •	Научно-исследовательские работы по сохранению историко-культурного наследия народов России

        Медиаграмотность/Этномедиа/Этно-информирование
        •	Создание позитивного контента в социальных медиа, направленного на укрепление межкультурных коммуникаций
        •	Создания единого медиа-календаря мероприятий по укреплению межкультурных коммуникаций для содействия межрегиональному взаимодействию студентов
        •	Поиск и демонстрация фото, видео, аудио произведений о многообразии культур народов России
        •	Мероприятия (круглые столы/конференции и т.д.) по аккумулированию и мультипликации положительных практик работы в медиа-пространстве
        •	Информационная поддержка студенческих мероприятий
        •	Информирование и вовлечение студентов в федеральные мероприятия по данному направлению
        •	Создание позитивного контента об общности исторической судьбы народов России

        Экспедиционная деятельность
        •	Этнокультурные и этнофольклорные экспедиции
        •	Археологические экспедиции
        •	Межрегиональные экскурсионные и туристические программы для студентов
        •	Этнокультурные экспедиции в места компактного проживания коренных малочисленных народов  Севера, Сибири и Дальнего Востока РФ
        •	Выездные этнокультурные мероприятия (выездные семинары, лагеря и т.д.)

        Сохранение и развитие языков народов России
        •	Проведение олимпиад и творческих конкурсов по родным языкам народов России
        •	Проведение научно-исследовательских мероприятий по технологиям сохранения и популяризации языков народов России
        •	Создание он-лайн словарей народов России
        •	Литературные гостиные на родных языках
        •	Курсы по изучению языков народов России в ООВО в полиэтнических субъектах РФ

        Социализация студентов-мигрантов
        •	Вовлечение студентов-мигрантов в деятельность студенческих объединений
        •	Индивидуальные консультации по коррекции самооценки, поведения и профессионального самоопределения студентов
        •	Развитие практики «шефства/кураторства» над студентами-мигрантами

        Методическое и организационное сопровождение деятельности
        •	Создание и проведение образовательных программ, организационно-деятельностных и деловых игр для администрации ООВО и студенческих объединений  по укреплению межкультурных коммуникаций
        •	Создание методических пособий по организации работы по укреплению межкультурных коммуникаций среди студентов
        •	Создание календаря федеральных мероприятий для рекомендации участия  представителей студенчества
        •	Создание и проведение образовательных модулей по информационному сопровождению деятельности и созданию позитивного контента
        •	Организация и проведение научно-исследовательских мероприятий по поиску, апробации, совершенствованию и внедрению современных форм и методов укрепления межкультурных коммуникаций
        •	Разработка методических рекомендаций по профилактике распространения идеологии экстремизма и дерадикализации молодежи
    </p>
</div>

<div id="GroupCSub8" class="subgroup">
    <h4>Медиа</h4>
    <p>
        Паспорт направления
        «Медиа грамотность и информационная среда»
        8.0	Общая информация.
        8.0 Медиа грамотность и информационная среда  – проекты, направленные на участие студенческих объединений в развитии информационной среды образовательных организаций, развитие студенческих медиа ресурсов, повышение медиа грамотности обучающихся, поддержку студенческих информационных проектов.

        8.1Проекты реализуемые в рамках направления.

        8.2 Целевая аудитория.
        8.2.1. Студенты ООВО РФ
        8.2.2. Студенческие СМИ
        8.2.3. Администрации образовательных организаций.
        8.3Партнеры и ключевые сообщества.
        8.3.1. ООО «Российский союз молодежи»
        8.3.2.Международная ассоциация студенческого телевидения
        8.3.3.Союз студенческих СМИ
        8.3.4. ВОО «Молодая Гвардия Единой России»
        8.4 Нормативно-правовая база
        8.4.1. Федеральный закон от 29.12.2012 N 273-ФЗ «Об образовании
        в Российской Федерации»;
        8.4.2. Федеральный закон от 27.07.2006 N 149-ФЗ "Об информации, информационных технологиях и о защите информации"
    </p>
</div>
<div id="GroupCSub9" class="subgroup">
    <h4>Международное сотрудничество</h4>
    <p>
        Паспорт направления
        «Международное и межрегиональное сотрудничество  »
        9.0	Общая информация.
        9.0 Международное и межрегиональное сотрудничество– проекты, направленные на участие студенческих объединений в развитии информационной среды образовательных организаций, развитие студенческих медиа ресурсов, повышение медиа грамотности обучающихся, поддержку студенческих информационных проектов.

        9.1Проекты реализуемые в рамках направления.
        9.1.1.
        9.2 Целевая аудитория.
        9.2.1. Студенты ООВО РФ
        9.3Партнеры и ключевые сообщества.
        9.3.1.Ассоциация иностранных студентов России
        9.3.2.ФГБУ «Международный молодежный центр»
        9.3.3.Национальный совет молодежных и детских объединений
        9.4 Нормативно-правовая база
        9.4.1. Федеральный закон от 29.12.2012 N 273-ФЗ «Об образовании
        в Российской Федерации»;
    </p>
</div>
</section>
<section id="GroupD" class="group" style="padding-bottom: 150px;">
    <h3>Отделы</h3>
    <p>
        1.Руководитель
        2.Заместитель руководителя
        4.Отдел методологии и образовательных программ
        5.Ресурсный центр
        6.Отдел СМИ
        7.ПРДСО
    </p>
</section>
</div>
</div>

@section Scripts{
    <script>
        $("#rosstudMenu").addClass("open");
        $("#dropdownMenu1").addClass(".btn-nav").focus();
        $("#rosstudenchestvo").addClass("activeHomeLink");
    </script>
}


